
// ============================================
// Colors
// http://chir.ag/projects/name-that-color
// ============================================
$black: #000;
$white: #fff;
$curious-blue: #1EAEDB;
$gallery: #ededed;
$concrete: #f3f3f3;
$indigo: #6A0472;
$cornflower-blue: #597cf1;

// ============================================
// Background
// ============================================
$theme-color: $black;
$primary-background-color: $white;
$secondary-background-color: $gallery;
$accent-color: $cornflower-blue;

$navbar-background-color: $black;
$side-panel-bg-color: $gallery;

// ============================================
// Text
// ============================================
$font-normal: 400;
$font-bold: 700;

$font-xxxlarge: 48px;
$font-xxlarge: 32px;
$font-xlarge: 24px;
$font-large: 20px;
$font-medium: 16px;
$font-small: 12px;

$primary-font-family: tahoma,arial,Hiragino Sans GB,Microsoft YaHei;
$primary-text-color: $black;
$secondary-text-color: $gallery;

// ============================================
// Dimensions
// ============================================
$primary-nav-height: 60px;
$sidebar-width: 300px;

$home-line-spacing: 16px;