
// ============================================
// Colors
// http://chir.ag/projects/name-that-color
// ============================================
$black: #000;
$white: #fff;
$curious-blue: #1EAEDB;
$gallery: #f0f0f0;

// ============================================
// Background
// ============================================
$primary-background-color: $black;
$secondary-background-color: $white;
$accent-color: $curious-blue;

// ============================================
// Text
// ============================================
$primary-text-color: $black;
$secondary-text-color: $gallery;