
// ============================================
// Colors
// http://chir.ag/projects/name-that-color
// ============================================
$black: #000;
$mineShaft: #242424;
$white: #fff;
$blue: blue;
$gallery: #f0f0f0;

// ============================================
// Background
// ============================================
$primary-background-color: $black;
$secondary-background-color: $mineShaft;
$accent-color: $blue;

// ============================================
// Text
// ============================================
$font-normal: 400;
$font-bold: 800;

$font-large: 18px;
$font-medium: 16px;
$font-small: 12px;

$primary-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary-text-color: $black;
$secondary-text-color: $gallery;

// ============================================
// Dimensions
// ============================================
$primary-nav-height: 60px;
$secondary-nav-height: 60px;