
// ============================================
// Colors
// http://chir.ag/projects/name-that-color
// ============================================
$black: #000;
$white: #fff;
$curious-blue: #1EAEDB;
$gallery: #ededed;
$concrete: #f3f3f3;
$indigo: #6A0472;

// ============================================
// Background
// ============================================
$primary-background-color: $concrete;
$secondary-background-color: $white;
$accent-color: $indigo;

$navbar-background-color: $black;
$side-panel-bg-color: $gallery;

// ============================================
// Text
// ============================================
$font-normal: 400;
$font-bold: 600;

$font-xxlarge: 32px;
$font-xlarge: 24px;
$font-large: 20px;
$font-medium: 16px;
$font-small: 12px;

$primary-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary-text-color: $black;
$secondary-text-color: $gallery;

// ============================================
// Dimensions
// ============================================
$primary-nav-height: 80px;
$sidebar-max-width: 300px;