body {
  padding-top: 0px;
  overflow: auto;
}

#content {
  .site-header {
    display: none;
  }
}

.main-content-wrap {
  position: static;
  overflow: hidden;

  nav.doc-menu-vertical {
    top: auto;
  }
}

.doc-menu-vertical {
  position: static;
}