@import "_variables.sass"

.home
  h1
    font-size: $font-xlarge


  h2
    font-size: $font-large


  h3
    font-size: $font-medium


  h1, h2, h3
    text-align: center


  hr
    display: block


  p
    font-size: $font-small
    font-weight: 100
    color: #666
    margin: 0px


  .banner
    color: white
    text-align: center
    background: url(./../images/banner.jpg) no-repeat center center
    background-size: cover
    height: 260px
    padding-bottom: auto

    .oster-bg
      width: 100%
      max-height: 25rem
      vertical-align: top

    .tag-line
      padding-top: $home-line-spacing * 3
      margin-bottom: $home-line-spacing * 2

    p
      color: white
      margin-bottom: $home-line-spacing * 2

    .quick-start
      display: inline-block
      line-height: 48px
      color: #ffffff
      background-color: #0073eb
      font-size: 18px
      width: 212px
      &:hover
        color: #fff
        background-color: #3095ff

  .models
    background: linear-gradient(to bottom left, #ffffff, #c6dbfc)
    position: relative
    overflow: hidden
    width: 100%
    height: auto
    padding-bottom: 32px

    .six-dots
      text-align: center

    .dot
      height: 10px
      width: 10px
      background-color: #f7f7f7
      border-radius: 50%
      display: inline-block

    .models-slogan
      margin-top: 64px
      margin-bottom: 48px

    .model-icon
      background-color: #3095ff
      border-radius: 75px
      height: 150px
      width: 150px
      margin-top: 25px
      margin-left: 40px
      margin-right: 15px

    .model-intro
      line-height: 24px
      text-align: left
      padding-top: 30px
      padding-left: 0px

      h3
        font-size: $font-xxlarge
        text-align: left
        padding-bottom: 5px

      p
        font-size: $font-large
        padding-bottom: 5px
        height: 76px

      .learn-more
        font-size: $font-large
        text-align: right
        color: #3095ff
        padding-right: 30px
        padding-top: 5px

        a
          color: #3095ff

    // 6 models in 2 columns
    .model-row
      height: 200px
      margin: 0 10px 40px 10px

    .model-cell
      border-radius: 100px
      border: 2px solid #498ffa
      height: 200px

    .arch
      width: 800px
      height: 800px
      border-radius: 50%
      position: absolute
      bottom: -750px
      border: 3px solid #cfe1fc

    .arch-1
      left: -200px
    .arch-2
      left: -50px
    .arch-3
      left: 100px
    .arch-4
      left: 250px
    .arch-5
      left: 400px
    .arch-6
      left: 550px
    .arch-7
      left: 700px
    .arch-8
      left: 850px
    .arch-9
      left: 1000px
    .arch-10
      left: 1150px

  .services
    background-color: transparent
    .sub-title
      text-align: center
      color: #666

    h2
      margin-top: $home-line-spacing * 2

    p
      padding: $home-line-spacing 0 $home-line-spacing 0

    .sub-title
      padding: 0

    .service-row
      padding: 8$home-line-spacing 0 $home-line-spacing 0
      .service-desc
        position: relative
        top: 50%
        transform: translateY(-50%)
        left: 0

      text-align: left
      top: 50%

    .service-icon
      text-align: center
      max-width: 100%
      max-height: 100%
      margin-bottom: $home-line-spacing

  .service-desc
    h3
      text-align: left

  .installation-guide
    padding: 20px
    background: linear-gradient(40deg, #ffffff, rgba(59, 133, 245, 0.3))

    h2
      text-align: left
      font-size: 36px
      color: #888888

    p
      color: #888888

    a
      color: #597cf1

    code
      font-size: 21px
      color: #fff

    .row
      margin-top: 12px
      margin-bottom: 12px

    .disable
      pointer-events: none
      opacity: 0.2

    .install-option
      display: inline-block
      color: #3b85f5
      background-color: transparent
      border-color: #3b85f5
      text-align: center
      font-size: 21px
      border-radius: 25px
      padding: 12px
      width: 100%
      min-height: 56px

      &:hover
        color: #fff
        background-color: #3b85f5

      &.selected
        color: #fff
        background: linear-gradient(to bottom left, #3b85f5, #5a9bff)

    .other-install
      float: right

    .terminal
      background-color: black
      border-radius: 5px
      overflow: hidden
      margin-top: 12px
      margin-bottom: 12px
      height: calc(100% - 24px)

      p
        float: left
        margin-left: 20px
        margin-right: 20px
        font-size: 21px
        color: #3b85f5

      .terminal-bar
        background-color: rgba(59, 133, 245, 0.75)
        height: 26px
        margin-bottom: 10px


  .quick-start-guide
    h3
      color: #666

    p
      padding: $home-line-spacing 0px

      &.installation-note
        font-size: 12px
        text-align: center

      &.sidenote
        text-align: right
        font-style: italic

        a
          color: #666

    nav
      padding: $home-line-spacing * 2 0

      ul
        margin: auto
        overflow: hidden
        text-align: center

        li
          border-radius: 6px
          padding: 24px
          background-color: #f4f5f7
          cursor: pointer
          display: inline-block

          .pip-icon, .docker-icon
            display: inline-block
            width: 24px
            height: 24px
            background-position: -24px -0px
            margin-right: 12px
            float: left

          .pip-icon
            background-image: url(./../images/pip.png)

          .docker-icon
            background-image: url(./../images/docker.png)

          &.selected
            .pip-icon, .docker-icon
              background-position: 0px 0px

          &:hover
            background-color: #efefef

          &.selected
            color: #fff
            background-color: #9977ef


  .features
    padding-bottom: $home-line-spacing * 2
    background: #f7f7f7
    position: relative
    overflow: hidden

    .col-lg-3
      width: 50%
      padding: 8px

    h2
      margin-top: $home-line-spacing * 2

    h3
      margin: $home-line-spacing 0 $home-line-spacing 0
      font-size: 24px
      font-weight: bold

    p
      font-size: 18px
      text-align: center

    .feature-icon
      width: 150px
      height: 150px
      border-radius: 75px
      background: linear-gradient(to bottom left, #3b85f5, #5a9bff)
      position: relative
      line-height: 150px
      text-align: center
      margin-bottom: 20px
      margin-left: auto
      margin-right: auto
      margin-top: 60px

      p
        font-size: 24px
        color: #fff
        display: inline-block
        vertical-align: middle
        line-height: normal
        width: 50%

    .feature-desc
      display: inline-block
      height: 100%
      width: 100%
      padding: 8px
      margin: 8px
      background-color: transparent

    .bubble-background
      width: 1500px
      height: 1500px
      border-radius: 750px
      background: #f2f2f2
      position: absolute
      left: -700px
      top: -700px

  .resources-guide
    padding: 20px

    a
      color: black

    .row
      margin-top: 12px
      margin-bottom: 12px

    .resource-cell
      display: inline-block
      background-color: #f4f5f7
      padding: 16px
      width: 100%
      height: 100%
      text-align: center
      border-radius: 6px

      &:hover
        background-color: #efefef
        
  code
    padding: 0
    padding-top: 0.2em
    padding-bottom: 0.2em
    margin: 0
    background-color: rgba(0, 0, 0, 0.04)
    border-radius: 3px
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace
    color: #E74C3C
    overflow-x: auto


  pre
    white-space: pre
    padding: 24px
    overflow: auto
    line-height: 1.45
    background-color: #f7f7f7
    border-radius: 3px
    word-wrap: normal
    margin-top: 0
    margin-bottom: 0
    font: Consolas, "Liberation Mono", Menlo, Courier, monospace
    color: #292b2c

    > code
      padding: 0
      margin: 0
      font-size: 100%
      word-break: normal
      white-space: pre
      background: transparent
      border: 0

    code
      display: inline
      max-width: auto
      padding: 0
      margin: 0
      overflow: visible
      line-height: inherit
      word-wrap: normal
      background-color: transparent
      border: 0
      color: #292b2c

      &::before, &::after
        content: normal

    .hljs-comment
      color: #7f7f7f

  strong
    font-weight: bold

  em
    font-style: italic

.home-doc-mode
  h1, h2, h3
    text-align: center

  a, a:visited, a:hover
    color: $accent-color

  .btn-container
    width: 100%
    padding: 8px

  .btn
    width: 100%
    border-color: black

@media (min-width: 992px)
  .home
    h1
      font-size: $font-xxxlarge

    h2
      font-size: $font-xxlarge

    h3
      font-size: $font-xlarge

    h1, h2, h3
      text-align: center

    hr
      display: none

    p
      font-size: $font-medium
      font-weight: 100
      color: #666
      margin: 0px

    .banner
      color: white
      height: 525px

      .tag-line
        padding-top: $home-line-spacing * 6
        margin-bottom: $home-line-spacing * 3

      p
        margin-bottom: $home-line-spacing * 3

      .quick-start
        line-height: 60px
        font-size: 18px
        width: 212px

    .services
      background-color: #f4f5f7

      h2
        margin-top: $home-line-spacing * 4

      .sub-title
        padding: $home-line-spacing 0 0 0

      .service-row
        padding: $home-line-spacing 0 $home-line-spacing 0

    .features
      h2
        margin-top: $home-line-spacing * 4
        margin-bottom: $home-line-spacing * 2

    .quick-start-guide
      h2
        margin-top: $home-line-spacing * 4
