@import "_variables.sass"


$section-title-size: 32px
$section-description-size: 14px


$title-color: #333333
$description-color: #999999

.pps-home
  font-family: $primary-font-family

  h1
    font-size: $font-xxlarge

  h2
    font-size: $section-title-size
    margin: 30px

  h3
    font-size: 20


  h2, h3
    text-align: center

  hr
    display: block

  .row
    .hide
      display: none

  .container
    padding-top: 30px
    padding-bottom: 30px

  p
    font-size: $section-description-size
    font-weight: 100
    color: $description-color
    margin: 10px
    text-align: center

  .quick-links
    background: red

  .illustration
    background: orange

    p
      text-align: center


  .core-framework
    background: yellow

    .framework-desc
      background: gray

  .toolsets
    background: green
    color: white

    .tool-desc
      background: gray

  .applications
    background: blue
    color: white

  .services
    background: #f7f7f7
    color: $title-color
    padding-top: 90px
    padding-bottom: 60px

    .service-desc
      margin-top: 60px

      h3
        font-size: 20px
        text-align: left
        margin-bottom: 14px
        color: $title-color

      p
        text-align: left
        margin: 0px
