@import "_variables.sass"

.pps-home
  font-family: $primary-font-family

  h1
    font-size: $font-xxlarge

  h2
    font-size: $font-xlarge

  h3
    font-size: $font-medium


  h2, h3
    text-align: center


  hr
    display: block

  p
    font-size: $font-small
    font-weight: 100
    color: #666
    margin: 0px


  .quick-links
    background: red

  .illustration
    background: orange

    p
      text-align: center


  .core-framework
    background: yellow

    .framework-desc
      background: gray

  .toolsets
    background: green
    color: white

    .tool-desc
      background: gray

  .applications
    background: blue
    color: white

  .services
    background: purple
    color: white

    .service-desc
      background: gray