@import "_variables.sass"


$section-title-size: 32px
$section-description-size: 14px


$title-color: #333333
$description-color: #999999

.pps-home
  font-family: $primary-font-family

  h1
    font-size: $font-xxlarge

  h2
    font-size: $section-title-size
    margin: 30px

  h3
    font-size: 20


  h2, h3
    text-align: center

  hr
    display: block

  .row
    .hide
      display: none

  .container
    padding-top: 30px
    padding-bottom: 30px

  p
    font-size: $section-description-size
    font-weight: 100
    color: $description-color
    margin: 10px
    text-align: center

  .quick-links
    background: #f7f7f7

    a
      text-align: center
      color: $title-color

  .illustration
    background: #f7f7f7

    p
      text-align: center

    img
      width: 100%


  .core-framework
    background: #f7f7f7

    .framework-desc
      background: gray
      padding: 40px
      height: 100%

      &:hover
        background-color: blue

      h3, h4, p
        text-align: left
        margin: 0px

      button
        bottom: 10px
        position: absolute



  .toolsets
    background: #f7f7f7
    color: #333

    .tool-desc

  .applications
    background: #f7f7f7
    color: #333

    .app-table
      border: 1px solid #498ffa

    .row
      height: 33.3333%!important

    .application-type
      color: black
      background: white
      width: 100%
      border-bottom: 1px solid #498ffa
      border-right: 1px solid #498ffa

      &.last
        border-bottom: 0px

      &.selected
        background: $accent-color

        p
          color: white

      p
        text-align: left
        font-size: 18px

  .services
    background: #f7f7f7
    color: $title-color
    padding-top: 90px
    padding-bottom: 60px

    .service-desc
      margin-top: 60px

      h3
        font-size: 20px
        text-align: left
        margin-bottom: 14px
        color: $title-color

      p
        text-align: left
        margin: 0px
