<!DOCTYPE html>
<html lang="en">

{% load i18n %}
{% load app_tags %}

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>VisualDL - Visualize your deep learning training and data flawlessly</title>
        <link rel="icon" type="image/png" href="/static/images/favicon.ico">
        <!-- TODO: set og: meta attributes-->
        {% block head %}
        <link href="/static/stylesheets/reset.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/static/stylesheets/fontawesome-all.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/static/stylesheets/bootstrap.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/static/visualdl/stylesheets/base.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/static/visualdl/stylesheets/navigation.css" media="screen, projection" rel="stylesheet" type="text/css" />
        {% endblock %}
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?b9a314ab40d04d805655aab1deee08ba";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();

        </script>
    </head>

    <body>
        {% block pre_content %}{% endblock %}

        {% block content_root %}
            {% include "visualdl/_nav_bar.html" %}

            <div id="content">
                {% block content %}{{ static_content|safe }}{% endblock %}
            </div>

            {% include "visualdl/_footer.html" %}
        {% endblock %}

        {% block post_content %}{% endblock %}

        {% block scripts %}
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/jquery-3.2.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>

</html>
