@media (max-width: 550px) {
  /* line 5, ../sass/base.scss */
  .skeleton .u-pull-right {
    float: left;
  }
}
/* line 9, ../sass/base.scss */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  font: 400 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 15, ../sass/base.scss */
a {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}
/* line 20, ../sass/base.scss */
a:visited {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}
/* line 26, ../sass/base.scss */
a:visited, a:hover {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

/* line 33, ../sass/base.scss */
.main-navbar {
  background-color: black;
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 38, ../sass/base.scss */
.main-navbar.primary {
  top: 0;
  background-color: #000;
  height: 60px;
}
/* line 44, ../sass/base.scss */
.main-navbar.secondary {
  background-color: #242424;
  height: 60px;
}
/* line 49, ../sass/base.scss */
.main-navbar img.logo {
  max-width: none;
  width: auto;
  height: 60px;
}
/* line 55, ../sass/base.scss */
.main-navbar .navbar-list {
  margin-bottom: 0;
}
/* line 59, ../sass/base.scss */
.main-navbar a {
  color: white;
}
/* line 62, ../sass/base.scss */
.main-navbar a:hover, .main-navbar a:active {
  color: #ddd;
}
/* line 66, ../sass/base.scss */
.main-navbar a:active {
  color: #ddd;
}
/* line 70, ../sass/base.scss */
.main-navbar a.active-link {
  font-weight: 800;
}
/* line 75, ../sass/base.scss */
.main-navbar ol, .main-navbar ul {
  margin: 0;
}
/* line 78, ../sass/base.scss */
.main-navbar ol li, .main-navbar ul li {
  margin: 0;
  top: 0px;
  padding-right: 32px;
  position: static;
  list-style: none;
  float: left;
  text-align: -webkit-match-parent;
}
/* line 87, ../sass/base.scss */
.main-navbar ol li a, .main-navbar ul li a {
  line-height: 60px;
}
/* line 93, ../sass/base.scss */
.main-navbar ol.u-pull-right li, .main-navbar ul.u-pull-right li {
  padding-right: 0px;
  padding-left: 32px;
}

/* line 101, ../sass/base.scss */
.head-banner {
  background: url(./../images/banner.jpg) no-repeat center bottom;
  background-size: cover;
  height: 399px;
  color: #fff;
  text-align: center;
  padding-top: 126px;
  padding-bottom: auto;
}
/* line 109, ../sass/base.scss */
.head-banner .banner {
  color: #fff;
  padding-top: 10px;
}
/* line 112, ../sass/base.scss */
.head-banner .banner h1 {
  margin: 0 0 0 0;
  font-size: 48px;
  line-height: 60px;
  font-weight: normal;
}
/* line 118, ../sass/base.scss */
.head-banner .banner p {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  margin: 40px 0 50px 0;
}
/* line 124, ../sass/base.scss */
.head-banner .banner .quick-start {
  display: inline-block;
  line-height: 60px;
  color: #ffffff;
  font-size: 18px;
  width: 212px;
  border: 1px solid #fff;
}
/* line 131, ../sass/base.scss */
.head-banner .banner .quick-start:hover {
  display: inline-block;
  line-height: 60px;
  color: #333;
  font-size: 18px;
  width: 212px;
  background-color: #fff;
  border: 1px solid #fff;
}
/* line 141, ../sass/base.scss */
.head-banner .banner .github-counter {
  display: inline-block;
  margin: 50px 20px 0;
  line-height: 35px;
  color: #ffff;
}
/* line 146, ../sass/base.scss */
.head-banner .banner .github-counter > span {
  display: inline-block;
  font-size: 18px;
  line-height: 26px;
  float: left;
  padding: 0 5px;
}

/* line 157, ../sass/base.scss */
.footer-nav {
  background-color: #333;
  color: ccc;
}
/* line 160, ../sass/base.scss */
.footer-nav .intern-console {
  margin-left: 50px;
  margin-right: 19px;
  color: #ccc;
  font-size: 12px;
  line-height: 30px;
  width: 150px;
  float: left;
  display: inline;
}
/* line 170, ../sass/base.scss */
.footer-nav .chat-console {
  padding-left: 50px;
  color: #ccc;
  font-size: 12px;
  width: 600px;
  float: left;
  display: inline;
  border-left: 1px solid rgba(241, 242, 244, 0.2);
  border-right: 1px solid rgba(241, 242, 244, 0.2);
}
/* line 179, ../sass/base.scss */
.footer-nav .chat-console .sub-top-nava > li {
  line-height: 30px;
  width: 25%;
  float: left;
  display: inline;
  margin-bottom: 20px;
}
/* line 187, ../sass/base.scss */
.footer-nav .public-console {
  margin-left: 49px;
  margin-right: 50px;
  width: 100px;
  float: left;
  display: inline;
}
/* line 194, ../sass/base.scss */
.footer-nav .public-console > * {
  vertical-align: left;
}
/* line 197, ../sass/base.scss */
.footer-nav .public-console > img {
  margin-right: 5px;
}
/* line 200, ../sass/base.scss */
.footer-nav .public-console > p {
  color: #ccc;
  font-size: 14px;
}
/* line 206, ../sass/base.scss */
.footer-nav .contact-us {
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  margin-bottom: 20px;
  padding-top: 40px;
}
/* line 214, ../sass/base.scss */
.footer-nav .contact-us > * {
  vertical-align: middle;
}
/* line 217, ../sass/base.scss */
.footer-nav .contact-us > img {
  margin-right: 5px;
}
/* line 220, ../sass/base.scss */
.footer-nav .contact-us > a {
  color: #fff;
}
/* line 225, ../sass/base.scss */
.footer-nav .friendly-links {
  text-align: center;
  margin-bottom: 40px;
}
/* line 228, ../sass/base.scss */
.footer-nav .friendly-links > li {
  display: inline-block;
  padding: 0 10px;
  line-height: 12px;
}
/* line 232, ../sass/base.scss */
.footer-nav .friendly-links > li > a {
  color: #ccc;
  font-size: 12px;
}
/* line 238, ../sass/base.scss */
.footer-nav .copyright {
  color: #666;
  font-size: 12px;
  width: 100%;
  text-align: center;
  padding: 20px 0 20px;
}
/* line 244, ../sass/base.scss */
.footer-nav .copyright > a {
  color: #fff;
}

/*# sourceMappingURL=home.css.map*/
