/* line 1, ../sass/blog.scss */
.site-header {
  border-top: 0px;
  border-bottom: 0px;
}

/* line 7, ../sass/blog.scss */
#content .site-header {
  display: none;
}

/* line 12, ../sass/blog.scss */
.post-header::before {
  all: unset;
}

/**
 * Reset some basic elements
 */
/* line 19, ../sass/blog.scss */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
/* line 28, ../sass/blog.scss */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px;
}

/**
 * Images
 */
/* line 37, ../sass/blog.scss */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
/* line 44, ../sass/blog.scss */
figure > img {
  display: block;
}

/* line 47, ../sass/blog.scss */
figcaption {
  font-size: 14px;
}

/**
 * Lists
 */
/* line 53, ../sass/blog.scss */
ul, ol {
  margin-left: 30px;
}

/* line 56, ../sass/blog.scss */
li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
/* line 63, ../sass/blog.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/**
 * Blockquotes
 */
/* line 70, ../sass/blog.scss */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}

/* line 77, ../sass/blog.scss */
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
/* line 83, ../sass/blog.scss */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
}

/* line 90, ../sass/blog.scss */
code {
  padding: 1px 5px;
}

/* line 93, ../sass/blog.scss */
pre {
  padding: 8px 12px;
  overflow-x: auto;
}

/* line 96, ../sass/blog.scss */
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Wrapper
 */
/* line 104, ../sass/blog.scss */
.wrapper {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (max-width: 800px) {
  /* line 111, ../sass/blog.scss */
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}
/**
 * Clearfix
 */
/* line 120, ../sass/blog.scss */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
/* line 128, ../sass/blog.scss */
.icon > svg {
  display: inline-block;
  vertical-align: middle;
}

/* line 131, ../sass/blog.scss */
.icon > svg path {
  fill: #828282;
}

/* line 134, ../sass/blog.scss */
.social-media-list .icon {
  padding-right: 5px;
}

/* line 136, ../sass/blog.scss */
.social-media-list li + li {
  padding-top: 5px;
}

/**
 * Site header
 */
/* line 142, ../sass/blog.scss */
.site-header {
  border-bottom: 1px solid #e8e8e8;
  min-height: 55.95px;
  background: #000;
  padding: 0px 100px;
  position: relative;
}

/* line 149, ../sass/blog.scss */
.site-title {
  font-size: 24.4px;
  font-weight: 300;
  line-height: 56.4px;
  letter-spacing: 0.2px;
  margin-bottom: 0;
  float: left;
  color: #fff;
  text-decoration: none;
}

/* line 158, ../sass/blog.scss */
.site-title, .site-title:visited {
  color: #fff;
}

/* line 160, ../sass/blog.scss */
.site-title:hover {
  text-decoration: none;
}

/* line 162, ../sass/blog.scss */
.site-title img {
  width: 152px;
}

/* line 165, ../sass/blog.scss */
.site-nav {
  float: right;
  background: #000;
}

/* line 168, ../sass/blog.scss */
.site-nav .nav-trigger {
  display: none;
  background: #000;
}

/* line 171, ../sass/blog.scss */
.site-nav .menu-icon {
  display: none;
}

/* line 173, ../sass/blog.scss */
.site-nav .page-link {
  color: #fff;
  line-height: 58px;
  display: inline-block;
  height: 58px;
  padding: 0px 15px;
}

/* line 179, ../sass/blog.scss */
.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}

/* line 181, ../sass/blog.scss */
.site-nav .page-link:hover {
  color: DodgerBlue;
  text-decoration: none;
}

/* line 184, ../sass/blog.scss */
.site-nav .active {
  color: DodgerBlue;
  background-color: #222222;
}

@media screen and (max-width: 600px) {
  /* line 188, ../sass/blog.scss */
  .site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: right;
  }

  /* line 196, ../sass/blog.scss */
  .site-nav label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  /* line 203, ../sass/blog.scss */
  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }

  /* line 211, ../sass/blog.scss */
  .site-nav .menu-icon > svg path {
    fill: #424242;
  }

  /* line 213, ../sass/blog.scss */
  .site-nav input ~ .trigger {
    clear: both;
    display: none;
    background: #000;
  }

  /* line 217, ../sass/blog.scss */
  .site-nav input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
    background: #000;
  }

  /* line 221, ../sass/blog.scss */
  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
  }

  /* line 224, ../sass/blog.scss */
  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }
}
/* line 227, ../sass/blog.scss */
header.site-header .site-nav .trigger > a:hover {
  background-color: #222222;
  color: #0073eb;
  text-decoration: none;
}

/**
 * Site footer
 */
/* line 235, ../sass/blog.scss */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

/* line 239, ../sass/blog.scss */
.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
}

/* line 243, ../sass/blog.scss */
.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

/* line 248, ../sass/blog.scss */
.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px;
}

/* line 253, ../sass/blog.scss */
.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
}

/* line 258, ../sass/blog.scss */
.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2));
}

/* line 262, ../sass/blog.scss */
.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2));
}

/* line 266, ../sass/blog.scss */
.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2));
}

@media screen and (max-width: 800px) {
  /* line 271, ../sass/blog.scss */
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2));
  }

  /* line 276, ../sass/blog.scss */
  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}
@media screen and (max-width: 600px) {
  /* line 280, ../sass/blog.scss */
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}
/**
 * Page content
 */
/* line 287, ../sass/blog.scss */
.page-content {
  padding: 30px 0;
}

/* line 290, ../sass/blog.scss */
.page-heading {
  font-size: 20px;
}

/* line 293, ../sass/blog.scss */
.post-list {
  margin-left: 0;
  list-style: none;
}

/* line 296, ../sass/blog.scss */
.post-list > li {
  margin-bottom: 30px;
}

/* line 299, ../sass/blog.scss */
.post-meta {
  font-size: 14px;
  color: #828282;
}

/* line 303, ../sass/blog.scss */
.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
/* line 310, ../sass/blog.scss */
.post-header {
  margin-bottom: 30px;
}

/* line 313, ../sass/blog.scss */
.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}

@media screen and (max-width: 800px) {
  /* line 318, ../sass/blog.scss */
  .post-title {
    font-size: 36px;
  }
}
/* line 321, ../sass/blog.scss */
.post-content {
  margin-bottom: 30px;
}

/* line 323, ../sass/blog.scss */
.post-content h2 {
  font-size: 32px;
}

@media screen and (max-width: 800px) {
  /* line 326, ../sass/blog.scss */
  .post-content h2 {
    font-size: 28px;
  }
}
/* line 328, ../sass/blog.scss */
.post-content h3 {
  font-size: 26px;
}

@media screen and (max-width: 800px) {
  /* line 331, ../sass/blog.scss */
  .post-content h3 {
    font-size: 22px;
  }
}
/* line 333, ../sass/blog.scss */
.post-content h4 {
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  /* line 336, ../sass/blog.scss */
  .post-content h4 {
    font-size: 18px;
  }
}
/* line 340, ../sass/blog.scss */
.icon--github svg {
  width: 16px;
  height: 16px;
}
