/* line 1, ../sass/blog.scss */
.site-header {
  border-top: 0px;
  border-bottom: 0px;
}

/* line 7, ../sass/blog.scss */
#content .site-header {
  display: none;
}

/* line 12, ../sass/blog.scss */
.post-header::before {
  all: unset;
}

/**
 * Reset some basic elements
 */
/* line 19, ../sass/blog.scss */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
/* line 29, ../sass/blog.scss */
body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
/* line 44, ../sass/blog.scss */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px;
}

/**
 * Images
 */
/* line 54, ../sass/blog.scss */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
/* line 62, ../sass/blog.scss */
figure > img {
  display: block;
}

/* line 66, ../sass/blog.scss */
figcaption {
  font-size: 14px;
}

/**
 * Lists
 */
/* line 73, ../sass/blog.scss */
ul, ol {
  margin-left: 30px;
}

/* line 77, ../sass/blog.scss */
li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
/* line 85, ../sass/blog.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/**
 * Links
 */
/* line 92, ../sass/blog.scss */
a {
  color: #2a7ae2;
  text-decoration: none;
}

/* line 97, ../sass/blog.scss */
a:visited {
  color: #1756a9;
}

/* line 101, ../sass/blog.scss */
a:hover {
  color: #111;
  text-decoration: underline;
}

/* line 106, ../sass/blog.scss */
.social-media-list a:hover {
  text-decoration: none;
}

/* line 110, ../sass/blog.scss */
.social-media-list a:hover .username {
  text-decoration: underline;
}

/**
 * Blockquotes
 */
/* line 117, ../sass/blog.scss */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}

/* line 126, ../sass/blog.scss */
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
/* line 133, ../sass/blog.scss */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
}

/* line 141, ../sass/blog.scss */
code {
  padding: 1px 5px;
}

/* line 145, ../sass/blog.scss */
pre {
  padding: 8px 12px;
  overflow-x: auto;
}

/* line 150, ../sass/blog.scss */
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Wrapper
 */
/* line 159, ../sass/blog.scss */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (max-width: 800px) {
  /* line 169, ../sass/blog.scss */
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}
/**
 * Icons
 */
/* line 179, ../sass/blog.scss */
.icon > svg {
  display: inline-block;
  vertical-align: middle;
}

/* line 184, ../sass/blog.scss */
.icon > svg path {
  fill: #828282;
}

/* line 188, ../sass/blog.scss */
.social-media-list .icon {
  padding-right: 5px;
}

/* line 192, ../sass/blog.scss */
.social-media-list li + li {
  padding-top: 5px;
}

/**
 * Page content
 */
/* line 199, ../sass/blog.scss */
.page-content {
  padding: 30px 0;
}

/* line 203, ../sass/blog.scss */
.page-heading {
  font-size: 20px;
}

/* line 207, ../sass/blog.scss */
.post-list {
  margin-left: 0;
  list-style: none;
}

/* line 212, ../sass/blog.scss */
.post-list > li {
  margin-bottom: 30px;
}

/* line 216, ../sass/blog.scss */
.post-meta {
  font-size: 14px;
  color: #828282;
}

/* line 221, ../sass/blog.scss */
.post-link {
  display: block;
  font-size: 24px;
}
