/* line 4, ../sass/home.sass */
.home h1 {
  font-size: 20px;
}
/* line 8, ../sass/home.sass */
.home h2 {
  font-size: 18px;
}
/* line 12, ../sass/home.sass */
.home h3 {
  font-size: 16px;
}
/* line 16, ../sass/home.sass */
.home h1, .home h2, .home h3 {
  text-align: center;
}
/* line 20, ../sass/home.sass */
.home hr {
  display: block;
}
/* line 24, ../sass/home.sass */
.home p {
  font-size: 12px;
  font-weight: 100;
  color: #999;
  margin: 0px;
}
/* line 31, ../sass/home.sass */
.home .banner {
  color: white;
  text-align: center;
  background: url(./../images/banner.jpg) no-repeat center bottom;
  background-size: cover;
  height: 260px;
  padding-bottom: auto;
}
/* line 39, ../sass/home.sass */
.home .banner .oster-bg {
  width: 100%;
  max-height: 25rem;
  vertical-align: top;
}
/* line 44, ../sass/home.sass */
.home .banner .tag-line {
  padding-top: 48px;
  margin-bottom: 32px;
}
/* line 48, ../sass/home.sass */
.home .banner p {
  color: white;
  margin-bottom: 32px;
}
/* line 52, ../sass/home.sass */
.home .banner .quick-start {
  display: inline-block;
  line-height: 48px;
  color: #ffffff;
  font-size: 18px;
  width: 212px;
  border: 1px solid #fff;
}
/* line 59, ../sass/home.sass */
.home .banner .quick-start:hover {
  color: #333;
  background-color: #ededed;
  border: 1px solid #ededed;
}
/* line 64, ../sass/home.sass */
.home .services {
  background-color: transparent;
}
/* line 66, ../sass/home.sass */
.home .services .sub-title {
  text-align: center;
  color: #999;
}
/* line 70, ../sass/home.sass */
.home .services h2 {
  margin-top: 32px;
}
/* line 73, ../sass/home.sass */
.home .services p {
  padding: 16px 0 16px 0;
}
/* line 76, ../sass/home.sass */
.home .services .sub-title {
  padding: 0;
}
/* line 79, ../sass/home.sass */
.home .services .service-row {
  padding: 8 16px 0 16px 0;
  text-align: left;
  top: 50%;
}
/* line 81, ../sass/home.sass */
.home .services .service-row .service-desc {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
/* line 90, ../sass/home.sass */
.home .services .service-icon {
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 16px;
}
/* line 97, ../sass/home.sass */
.home .features .col-lg-3 {
  width: 50%;
  padding: 8px;
}
/* line 101, ../sass/home.sass */
.home .features h2 {
  margin-top: 32px;
}
/* line 104, ../sass/home.sass */
.home .features h3 {
  margin: 16px 0 16px 0;
}
/* line 107, ../sass/home.sass */
.home .features .feature-icon {
  text-align: center;
}
/* line 110, ../sass/home.sass */
.home .features .feature-desc {
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 8px;
  padding: 8px;
  background-color: #ededed;
}
/* line 118, ../sass/home.sass */
.home .features p {
  line-height: 24px;
}
/* line 121, ../sass/home.sass */
.home .get-started {
  text-align: center;
  padding-bottom: 32px;
}
/* line 125, ../sass/home.sass */
.home .get-started h2 {
  margin-top: 32px;
  margin-bottom: 16px;
}
/* line 129, ../sass/home.sass */
.home .get-started p {
  padding: 0 0 16px 0;
}
/* line 132, ../sass/home.sass */
.home .get-started .quick-start {
  color: #fff;
  background-color: #0073eb;
  font-size: 18px;
  display: inline-block;
  line-height: 48px;
  width: 212px;
}
/* line 139, ../sass/home.sass */
.home .get-started .quick-start:hover {
  color: #fff;
  background-color: #3095ff;
  font-size: 18px;
  display: inline-block;
  line-height: 60px;
  width: 212px;
}

@media (min-width: 992px) {
  /* line 149, ../sass/home.sass */
  .home h1 {
    font-size: 48px;
  }
  /* line 152, ../sass/home.sass */
  .home h2 {
    font-size: 24px;
  }
  /* line 155, ../sass/home.sass */
  .home h3 {
    font-size: 20px;
  }
  /* line 158, ../sass/home.sass */
  .home h1, .home h2, .home h3 {
    text-align: center;
  }
  /* line 161, ../sass/home.sass */
  .home hr {
    display: none;
  }
  /* line 164, ../sass/home.sass */
  .home p {
    font-size: 16px;
    font-weight: 100;
    color: #999;
    margin: 0px;
  }
  /* line 170, ../sass/home.sass */
  .home .banner {
    color: white;
    height: 525px;
  }
  /* line 174, ../sass/home.sass */
  .home .banner .tag-line {
    padding-top: 96px;
    margin-bottom: 48px;
  }
  /* line 178, ../sass/home.sass */
  .home .banner p {
    margin-bottom: 48px;
  }
  /* line 181, ../sass/home.sass */
  .home .banner .quick-start {
    line-height: 60px;
    font-size: 18px;
    width: 212px;
  }
  /* line 186, ../sass/home.sass */
  .home .services {
    background-color: #f4f5f7;
  }
  /* line 189, ../sass/home.sass */
  .home .services h2 {
    margin-top: 64px;
  }
  /* line 192, ../sass/home.sass */
  .home .services .sub-title {
    padding: 16px 0 0 0;
  }
  /* line 195, ../sass/home.sass */
  .home .services .service-row {
    padding: 16px 0 16px 0;
  }
  /* line 199, ../sass/home.sass */
  .home .features h2 {
    margin-top: 64px;
    margin-bottom: 64px;
  }
  /* line 203, ../sass/home.sass */
  .home .features .feature-desc {
    margin: 8px;
    padding: 8px;
    background-color: transparent;
  }
  /* line 208, ../sass/home.sass */
  .home .get-started {
    padding-bottom: 96px;
  }
  /* line 211, ../sass/home.sass */
  .home .get-started h2 {
    margin-top: 64px;
    margin-bottom: 32px;
  }
  /* line 215, ../sass/home.sass */
  .home .get-started .quick-start {
    font-size: 18px;
    line-height: 60px;
    width: 212px;
  }
}
