/* line 4, ../sass/home.sass */
.home h1 {
  font-size: 20px;
}
/* line 8, ../sass/home.sass */
.home h2 {
  font-size: 18px;
}
/* line 12, ../sass/home.sass */
.home h3 {
  font-size: 16px;
}
/* line 16, ../sass/home.sass */
.home h1, .home h2, .home h3 {
  text-align: center;
}
/* line 20, ../sass/home.sass */
.home hr {
  display: block;
}
/* line 24, ../sass/home.sass */
.home p {
  font-size: 12px;
  font-weight: 100;
  color: #666;
  margin: 0px;
}
/* line 31, ../sass/home.sass */
.home .banner {
  color: white;
  text-align: center;
  background: url(./../images/banner.jpg) no-repeat center center;
  background-size: cover;
  height: 260px;
  padding-bottom: auto;
}
/* line 39, ../sass/home.sass */
.home .banner .oster-bg {
  width: 100%;
  max-height: 25rem;
  vertical-align: top;
}
/* line 44, ../sass/home.sass */
.home .banner .tag-line {
  padding-top: 48px;
  margin-bottom: 32px;
}
/* line 48, ../sass/home.sass */
.home .banner p {
  color: white;
  margin-bottom: 32px;
}
/* line 52, ../sass/home.sass */
.home .banner .quick-start {
  display: inline-block;
  line-height: 48px;
  color: #ffffff;
  background-color: #0073eb;
  font-size: 18px;
  width: 212px;
}
/* line 59, ../sass/home.sass */
.home .banner .quick-start:hover {
  color: #fff;
  background-color: #3095ff;
}
/* line 63, ../sass/home.sass */
.home .services {
  background-color: transparent;
}
/* line 65, ../sass/home.sass */
.home .services .sub-title {
  text-align: center;
  color: #666;
}
/* line 69, ../sass/home.sass */
.home .services h2 {
  margin-top: 32px;
}
/* line 72, ../sass/home.sass */
.home .services p {
  padding: 16px 0 16px 0;
}
/* line 75, ../sass/home.sass */
.home .services .sub-title {
  padding: 0;
}
/* line 78, ../sass/home.sass */
.home .services .service-row {
  padding: 8 16px 0 16px 0;
  text-align: left;
  top: 50%;
}
/* line 80, ../sass/home.sass */
.home .services .service-row .service-desc {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
/* line 89, ../sass/home.sass */
.home .services .service-icon {
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 16px;
}
/* line 96, ../sass/home.sass */
.home .service-desc h3 {
  text-align: left;
}
/* line 100, ../sass/home.sass */
.home .quick-start-guide h3 {
  color: #666;
}
/* line 103, ../sass/home.sass */
.home .quick-start-guide p {
  padding: 16px 0px;
}
/* line 106, ../sass/home.sass */
.home .quick-start-guide p.installation-note {
  font-size: 12px;
  text-align: center;
}
/* line 110, ../sass/home.sass */
.home .quick-start-guide p.sidenote {
  text-align: right;
  font-style: italic;
}
/* line 114, ../sass/home.sass */
.home .quick-start-guide p.sidenote a {
  color: #666;
}
/* line 117, ../sass/home.sass */
.home .quick-start-guide nav {
  padding: 32px 0;
}
/* line 120, ../sass/home.sass */
.home .quick-start-guide nav ul {
  margin: auto;
  overflow: hidden;
  text-align: center;
}
/* line 125, ../sass/home.sass */
.home .quick-start-guide nav ul li {
  border-radius: 6px;
  padding: 24px;
  background-color: #f4f5f7;
  cursor: pointer;
  display: inline-block;
}
/* line 132, ../sass/home.sass */
.home .quick-start-guide nav ul li .pip-icon, .home .quick-start-guide nav ul li .docker-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: -24px 0px;
  margin-right: 12px;
  float: left;
}
/* line 140, ../sass/home.sass */
.home .quick-start-guide nav ul li .pip-icon {
  background-image: url(./../images/pip.png);
}
/* line 143, ../sass/home.sass */
.home .quick-start-guide nav ul li .docker-icon {
  background-image: url(./../images/docker.png);
}
/* line 147, ../sass/home.sass */
.home .quick-start-guide nav ul li.selected .pip-icon, .home .quick-start-guide nav ul li.selected .docker-icon {
  background-position: 0px 0px;
}
/* line 150, ../sass/home.sass */
.home .quick-start-guide nav ul li:hover {
  background-color: #efefef;
}
/* line 153, ../sass/home.sass */
.home .quick-start-guide nav ul li.selected {
  color: #fff;
  background-color: #9977ef;
}
/* line 158, ../sass/home.sass */
.home .features {
  padding-bottom: 32px;
}
/* line 161, ../sass/home.sass */
.home .features .col-lg-3 {
  width: 50%;
  padding: 8px;
}
/* line 165, ../sass/home.sass */
.home .features h2 {
  margin-top: 32px;
}
/* line 168, ../sass/home.sass */
.home .features h3 {
  margin: 16px 0 16px 0;
}
/* line 171, ../sass/home.sass */
.home .features .feature-icon {
  text-align: center;
}
/* line 174, ../sass/home.sass */
.home .features .feature-desc {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 8px;
  background-color: #ededed;
}
/* line 181, ../sass/home.sass */
.home .features p {
  line-height: 24px;
}
/* line 186, ../sass/home.sass */
.home code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #E74C3C;
  overflow-x: auto;
}
/* line 198, ../sass/home.sass */
.home pre {
  white-space: pre;
  padding: 24px;
  overflow: auto;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
  word-wrap: normal;
  margin-top: 0;
  margin-bottom: 0;
  font: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #292b2c;
}
/* line 211, ../sass/home.sass */
.home pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
/* line 220, ../sass/home.sass */
.home pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
  color: #292b2c;
}
/* line 232, ../sass/home.sass */
.home pre code::before, .home pre code::after {
  content: normal;
}
/* line 235, ../sass/home.sass */
.home pre .hljs-comment {
  color: #7f7f7f;
}
/* line 238, ../sass/home.sass */
.home strong {
  font-weight: bold;
}
/* line 241, ../sass/home.sass */
.home em {
  font-style: italic;
}

/* line 245, ../sass/home.sass */
.home-doc-mode h1, .home-doc-mode h2, .home-doc-mode h3 {
  text-align: center;
}
/* line 248, ../sass/home.sass */
.home-doc-mode a, .home-doc-mode a:visited, .home-doc-mode a:hover {
  color: #597cf1;
}
/* line 251, ../sass/home.sass */
.home-doc-mode .btn-container {
  width: 100%;
  padding: 8px;
}
/* line 255, ../sass/home.sass */
.home-doc-mode .btn {
  width: 100%;
  border-color: black;
}

@media (min-width: 992px) {
  /* line 261, ../sass/home.sass */
  .home h1 {
    font-size: 48px;
  }
  /* line 264, ../sass/home.sass */
  .home h2 {
    font-size: 24px;
  }
  /* line 267, ../sass/home.sass */
  .home h3 {
    font-size: 20px;
  }
  /* line 270, ../sass/home.sass */
  .home h1, .home h2, .home h3 {
    text-align: center;
  }
  /* line 273, ../sass/home.sass */
  .home hr {
    display: none;
  }
  /* line 276, ../sass/home.sass */
  .home p {
    font-size: 16px;
    font-weight: 100;
    color: #666;
    margin: 0px;
  }
  /* line 282, ../sass/home.sass */
  .home .banner {
    color: white;
    height: 525px;
  }
  /* line 286, ../sass/home.sass */
  .home .banner .tag-line {
    padding-top: 96px;
    margin-bottom: 48px;
  }
  /* line 290, ../sass/home.sass */
  .home .banner p {
    margin-bottom: 48px;
  }
  /* line 293, ../sass/home.sass */
  .home .banner .quick-start {
    line-height: 60px;
    font-size: 18px;
    width: 212px;
  }
  /* line 298, ../sass/home.sass */
  .home .services {
    background-color: #f4f5f7;
  }
  /* line 301, ../sass/home.sass */
  .home .services h2 {
    margin-top: 64px;
  }
  /* line 304, ../sass/home.sass */
  .home .services .sub-title {
    padding: 16px 0 0 0;
  }
  /* line 307, ../sass/home.sass */
  .home .services .service-row {
    padding: 16px 0 16px 0;
  }
  /* line 311, ../sass/home.sass */
  .home .features h2 {
    margin-top: 64px;
    margin-bottom: 32px;
  }
  /* line 315, ../sass/home.sass */
  .home .features .feature-desc {
    margin: 8px;
    padding: 8px;
    background-color: transparent;
  }
  /* line 321, ../sass/home.sass */
  .home .quick-start-guide h2 {
    margin-top: 64px;
  }
}
