/* line 1, ../sass/home.scss */
.services {
  background-color: #f4f5f7;
  position: relative;
}
/* line 5, ../sass/home.scss */
.services h2 {
  padding-top: 80px;
  position: relative;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 11, ../sass/home.scss */
.services h2 span {
  color: #333;
  font-size: 30px;
  font-weight: normal;
  position: relative;
  z-index: 1;
}
/* line 19, ../sass/home.scss */
.services .sub-title {
  text-align: center;
  font-size: 16px;
  color: #999;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 28, ../sass/home.scss */
.services .row {
  width: 1080px;
  margin: 0 auto;
}
/* line 33, ../sass/home.scss */
.services .row::after {
  content: "";
  display: block;
  clear: both;
}
/* line 39, ../sass/home.scss */
.services > .row > div {
  width: 50%;
  float: left;
  display: inline-block;
  height: 400px;
  text-align: left;
  position: relative;
}
/* line 46, ../sass/home.scss */
.services > .row > div > * {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
/* line 52, ../sass/home.scss */
.services > .row > div .service-desc {
  left: 50px;
  right: 0;
}
/* line 56, ../sass/home.scss */
.services > .row > div:nth-child(2n+1) {
  text-align: right;
}
/* line 58, ../sass/home.scss */
.services > .row > div:nth-child(2n+1) .service-desc {
  right: 50px;
  left: 0;
}
/* line 64, ../sass/home.scss */
.services .service-icon {
  text-align: center;
  max-width: 100%;
  max-height: 100%;
}
/* line 70, ../sass/home.scss */
.services .service-desc h3 {
  color: #333;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}
/* line 76, ../sass/home.scss */
.services .service-desc p {
  margin: 20px 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  color: #999;
}
/* line 83, ../sass/home.scss */
.services .service-desc a.view-more {
  color: #0073eb;
  font-size: 16px;
  display: inline-block;
}
/* line 87, ../sass/home.scss */
.services .service-desc a.view-more:hover {
  text-decoration: underline;
}

/* line 94, ../sass/home.scss */
.features {
  background-color: #ffffff;
  padding-top: 80px;
  padding-bottom: 60px;
}
/* line 98, ../sass/home.scss */
.features h2 {
  text-align: center;
  margin-bottom: 70px;
  margin-top: 0px;
  font-size: 30px;
  color: #333;
}
/* line 104, ../sass/home.scss */
.features h2 span {
  position: relative;
  z-index: 1;
  font-weight: normal;
  color: #333;
}
/* line 111, ../sass/home.scss */
.features .feature-desc {
  width: 25%;
  float: left;
  text-align: center;
}
/* line 115, ../sass/home.scss */
.features .feature-desc h3 {
  color: #333;
  margin: 30px 0 20px;
  font-size: 18px;
  font-weight: normal;
}
/* line 121, ../sass/home.scss */
.features .feature-desc p {
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  color: #999;
  max-width: 75%;
  margin: 0;
  display: inline-block;
}

/* line 133, ../sass/home.scss */
.get-started {
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 80px;
}
/* line 137, ../sass/home.scss */
.get-started h2 {
  font-size: 30px;
  color: #333;
  margin-bottom: 30px;
  font-weight: normal;
}
/* line 143, ../sass/home.scss */
.get-started p {
  font-size: 16px;
  font-weight: 100;
  color: #999;
  margin-bottom: 30px;
}
/* line 149, ../sass/home.scss */
.get-started .quick-start {
  color: #fff;
  background-color: #0073eb;
  font-size: 18px;
  display: inline-block;
  line-height: 60px;
  width: 212px;
}
/* line 156, ../sass/home.scss */
.get-started .quick-start:hover {
  color: #fff;
  background-color: #3095ff;
  font-size: 18px;
  display: inline-block;
  line-height: 60px;
  width: 212px;
}
