/* line 4, ../sass/navigation.scss */
.navbar .nav-divider {
  padding-left: 16px;
  padding-right: 16px;
}
/* line 9, ../sass/navigation.scss */
.navbar .navbar-brand {
  font-size: 32px;
  line-height: 80px;
}
/* line 14, ../sass/navigation.scss */
.navbar .navbar-toggler {
  margin-top: 20px;
}

/* line 20, ../sass/navigation.scss */
.panel-layout .sidebar {
  background-color: #ededed;
  padding: 20px;
}
/* line 24, ../sass/navigation.scss */
.panel-layout .sidebar h3 {
  padding: 16px 0 8px 0;
  font-weight: 600;
  font-size: 20px;
}
/* line 29, ../sass/navigation.scss */
.panel-layout .sidebar h3.active {
  color: #6A0472;
}
/* line 35, ../sass/navigation.scss */
.panel-layout .sidebar ul li {
  padding: 8px 0 8px 0;
}
/* line 40, ../sass/navigation.scss */
.panel-layout .sidebar a {
  color: #000;
}
/* line 43, ../sass/navigation.scss */
.panel-layout .sidebar a:hover, .panel-layout .sidebar a:active {
  color: #6A0472;
}
/* line 47, ../sass/navigation.scss */
.panel-layout .sidebar a.active {
  color: #6A0472;
  font-weight: 600;
}

@media (min-width: 992px) {
  /* line 61, ../sass/navigation.scss */
  .panel-layout .sidebar {
    float: left;
    max-width: 300px;
  }

  /* line 67, ../sass/navigation.scss */
  .sidebar-toggle {
    display: none;
  }

  /* line 71, ../sass/navigation.scss */
  .sidebar.collapse {
    display: block;
  }
}
/* line 76, ../sass/navigation.scss */
.footer-nav {
  background-color: #6A0472 !important;
  color: ccc;
}
/* line 79, ../sass/navigation.scss */
.footer-nav .intern-console {
  margin-left: 50px;
  margin-right: 19px;
  color: #ccc;
  font-size: 12px;
  line-height: 30px;
  width: 150px;
  float: left;
  display: inline;
}
/* line 89, ../sass/navigation.scss */
.footer-nav .chat-console {
  padding-left: 50px;
  color: #ccc;
  font-size: 12px;
  width: 600px;
  float: left;
  display: inline;
  border-left: 1px solid rgba(241, 242, 244, 0.2);
  border-right: 1px solid rgba(241, 242, 244, 0.2);
}
/* line 98, ../sass/navigation.scss */
.footer-nav .chat-console .sub-top-nava > li {
  line-height: 30px;
  width: 25%;
  float: left;
  display: inline;
  margin-bottom: 20px;
}
/* line 106, ../sass/navigation.scss */
.footer-nav .public-console {
  margin-left: 49px;
  margin-right: 50px;
  width: 100px;
  float: left;
  display: inline;
}
/* line 113, ../sass/navigation.scss */
.footer-nav .public-console > * {
  vertical-align: left;
}
/* line 116, ../sass/navigation.scss */
.footer-nav .public-console > img {
  margin-right: 5px;
}
/* line 119, ../sass/navigation.scss */
.footer-nav .public-console > p {
  color: #ccc;
  font-size: 14px;
}
/* line 125, ../sass/navigation.scss */
.footer-nav .contact-us {
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  margin-bottom: 20px;
  padding-top: 40px;
}
/* line 133, ../sass/navigation.scss */
.footer-nav .contact-us > * {
  vertical-align: middle;
}
/* line 136, ../sass/navigation.scss */
.footer-nav .contact-us > img {
  margin-right: 5px;
}
/* line 139, ../sass/navigation.scss */
.footer-nav .contact-us > a {
  color: #fff;
}
/* line 144, ../sass/navigation.scss */
.footer-nav .friendly-links {
  text-align: center;
  margin-bottom: 40px;
}
/* line 147, ../sass/navigation.scss */
.footer-nav .friendly-links > li {
  display: inline-block;
  padding: 0 10px;
  line-height: 12px;
}
/* line 151, ../sass/navigation.scss */
.footer-nav .friendly-links > li > a {
  color: #ccc;
  font-size: 12px;
}
/* line 157, ../sass/navigation.scss */
.footer-nav .copyright {
  color: #666;
  font-size: 12px;
  width: 100%;
  text-align: center;
  padding: 20px 0 20px;
}
/* line 163, ../sass/navigation.scss */
.footer-nav .copyright > a {
  color: #fff;
}
