/* line 4, ../sass/navigation.sass */
.navbar {
  background-color: #000;
  padding: 0px 8px;
}
/* line 8, ../sass/navigation.sass */
.navbar .nav-divider {
  padding-left: 16px;
  padding-right: 16px;
}
/* line 12, ../sass/navigation.sass */
.navbar .navbar-brand {
  font-size: 24px;
  text-decoration: none;
  padding-top: 0px;
  padding-bottom: 0px;
}
/* line 18, ../sass/navigation.sass */
.navbar .navbar-brand img {
  height: 60px;
  width: auto;
}
/* line 22, ../sass/navigation.sass */
.navbar .navbar-toggler {
  margin-top: 0;
}
/* line 28, ../sass/navigation.sass */
.navbar.navbar-dark .navbar-nav .active > .nav-link {
  color: #fff;
  font-weight: 700;
}
/* line 31, ../sass/navigation.sass */
.navbar.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
/* line 34, ../sass/navigation.sass */
.navbar.navbar-dark .navbar-nav .nav-link.border {
  border: 1px solid white;
}
/* line 37, ../sass/navigation.sass */
.navbar .version-toggler {
  height: 100%;
}
/* line 39, ../sass/navigation.sass */
.navbar .version-toggler a, .navbar .version-toggler a:visited, .navbar .version-toggler a:hover {
  color: #597cf1 !important;
}
/* line 42, ../sass/navigation.sass */
.navbar .version-toggler .btn-group {
  border: none;
  height: 100%;
}
/* line 46, ../sass/navigation.sass */
.navbar .version-toggler .btn-group .btn {
  border-radius: 0px;
}
/* line 49, ../sass/navigation.sass */
.navbar .version-toggler .btn-group .selected-version {
  height: 100%;
  color: white;
  background-color: transparent;
}
/* line 54, ../sass/navigation.sass */
.navbar .version-toggler .btn-group .dropdown-toggle::after {
  vertical-align: 0.1em;
}

/* line 59, ../sass/navigation.sass */
body > #content {
  margin-top: 60px;
}
/* line 63, ../sass/navigation.sass */
body.invert .navbar-brand {
  color: #597cf1;
}
/* line 66, ../sass/navigation.sass */
body.invert .navbar-brand:hover, body.invert .navbar-brandactive {
  color: #597cf1;
}
/* line 72, ../sass/navigation.sass */
body.invert .navbar {
  background-color: transparent;
}
/* line 77, ../sass/navigation.sass */
body.invert .navbar .navbar-nav .active > .nav-link {
  color: #597cf1;
  font-weight: 700;
}
/* line 80, ../sass/navigation.sass */
body.invert .navbar .navbar-nav .nav-link {
  color: #597cf1;
}
/* line 84, ../sass/navigation.sass */
body.invert .navbar.navbar-dark .navbar-toggler {
  color: #597cf1;
  border-color: #597cf1;
}
/* line 88, ../sass/navigation.sass */
body.invert .navbar.navbar-dark .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#597cf1' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* line 91, ../sass/navigation.sass */
body.invert .footer-nav {
  background-color: transparent;
}

/* line 96, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar-toggle {
  width: 100%;
  padding: 4px;
}
/* line 99, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar-toggle .btn-default {
  margin: 0px;
}
/* line 101, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar {
  background-color: #ededed;
  padding: 20px;
  height: 100%;
}
/* line 106, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar .chapter {
  margin: 0px;
}
/* line 110, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar .search-form .query {
  width: 100%;
  padding: 8px 24px 8px 16px;
  border-radius: 15px;
  border: 1px solid #e0e0e0;
}
/* line 116, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar .search-form input[type=text] {
  font-size: 16px;
}
/* line 119, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar .search-form input[type=text]:focus {
  border-color: #597cf1;
}
/* line 122, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar .search-form input[type=text]::placeholder {
  color: #e0e0e0;
}
/* line 125, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar .search-form i {
  float: right;
  position: relative;
  margin-right: 8px;
  margin-top: -28px;
  z-index: 2;
  color: #e0e0e0;
}
/* line 133, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar h3 {
  padding: 16px 0 8px 0;
  font-weight: 700;
  font-size: 18px;
}
/* line 138, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar h3.active {
  color: #597cf1;
}
/* line 142, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar ul li, .panel-layout .sidebar-container .sidebar ol li {
  line-height: 20px;
  padding-bottom: 10px;
}
/* line 146, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar ul li .panel-collapse, .panel-layout .sidebar-container .sidebar ol li .panel-collapse {
  padding-top: 10px;
}
/* line 150, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar a {
  color: #000;
}
/* line 153, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar a.title-with-toggle {
  display: inline-block;
  width: 232px;
}
/* line 157, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar a .toggle {
  width: 8px;
  margin-right: 0px;
  float: right;
}
/* line 162, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar a:hover, .panel-layout .sidebar-container .sidebar a:active {
  color: #597cf1;
}
/* line 165, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar a.active {
  color: #597cf1;
}
/* line 169, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar a.collapsed .dropdown-toggle {
  transform: rotate(0deg);
}
/* line 172, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar a .dropdown-toggle {
  float: right;
  width: 8px;
  right: 0px;
  transform: rotate(180deg);
}
/* line 178, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar a .dropdown-toggle::after {
  vertical-align: 0.1em;
  border-top: 0.5em solid;
}
/* line 183, ../sass/navigation.sass */
.panel-layout .sidebar-container .sub-section li {
  padding-left: 8px;
}
/* line 186, ../sass/navigation.sass */
.panel-layout .panel-content {
  padding-left: 0px;
}
/* line 189, ../sass/navigation.sass */
.panel-layout .panel-content .panel-inner {
  display: block;
}

/* line 192, ../sass/navigation.sass */
.doc-content {
  display: block;
}
/* line 195, ../sass/navigation.sass */
.doc-content h1:before, .doc-content h2:before {
  display: block;
  content: " ";
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
}

/* line 202, ../sass/navigation.sass */
.permalinks-nav {
  margin: 0;
  display: block;
  width: 100%;
  margin: 30px 16px 0 16px;
}
/* line 208, ../sass/navigation.sass */
.permalinks-nav ol, .permalinks-nav ul {
  padding-left: 12px;
  margin-bottom: 0px;
  border-left: 2px solid #000;
}
/* line 213, ../sass/navigation.sass */
.permalinks-nav ol a, .permalinks-nav ul a {
  width: 100%;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #000;
}
/* line 220, ../sass/navigation.sass */
.permalinks-nav ol a:hover, .permalinks-nav ol a.active, .permalinks-nav ul a:hover, .permalinks-nav ul a.active {
  color: #597cf1;
}
/* line 224, ../sass/navigation.sass */
.permalinks-nav ol li a, .permalinks-nav ul li a {
  padding-left: 15px;
}

@media (min-width: 992px) {
  /* line 229, ../sass/navigation.sass */
  .panel-layout .sidebar-container {
    display: inline;
    width: 300px;
    float: left;
  }
  /* line 234, ../sass/navigation.sass */
  .panel-layout .sidebar-container .sidebar {
    top: 60px;
    width: 300px;
    padding-bottom: 120px;
  }
  /* line 239, ../sass/navigation.sass */
  .panel-layout .panel-content {
    margin-left: 300px;
  }

  /* line 242, ../sass/navigation.sass */
  .with-permalink-nav {
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px);
  }

  /* line 245, ../sass/navigation.sass */
  .permalinks-nav {
    height: 100%;
    width: 200px;
    float: right;
    padding-left: 0px;
    padding-bottom: 160px;
  }
  /* line 252, ../sass/navigation.sass */
  .permalinks-nav a {
    text-decoration: none;
    color: black;
  }
  /* line 256, ../sass/navigation.sass */
  .permalinks-nav a:visited {
    color: black;
    text-decoration: none;
  }
  /* line 260, ../sass/navigation.sass */
  .permalinks-nav a:hover {
    color: #597cf1;
    text-decoration: none;
  }

  /* line 264, ../sass/navigation.sass */
  .sidebar-toggle {
    display: none;
  }

  /* line 267, ../sass/navigation.sass */
  .sidebar.collapse {
    display: block;
  }
}
/* line 270, ../sass/navigation.sass */
.footer-nav {
  color: #ccc;
  margin: 0px 30px;
  border-top: 1px solid #eee;
}
/* line 275, ../sass/navigation.sass */
.footer-nav .intern-console {
  margin-left: 50px;
  margin-right: 19px;
  color: #ccc;
  font-size: 12px;
  line-height: 30px;
  width: 150px;
  float: left;
  display: inline;
}
/* line 285, ../sass/navigation.sass */
.footer-nav .chat-console {
  padding-left: 50px;
  color: #ccc;
  font-size: 12px;
  width: 600px;
  float: left;
  display: inline;
  border-left: 1px solid rgba(241, 242, 244, 0.2);
  border-right: 1px solid rgba(241, 242, 244, 0.2);
}
/* line 294, ../sass/navigation.sass */
.footer-nav .chat-console .sub-top-nava > li {
  line-height: 30px;
  width: 25%;
  float: left;
  display: inline;
  margin-bottom: 20px;
}
/* line 301, ../sass/navigation.sass */
.footer-nav .public-console {
  margin-left: 49px;
  margin-right: 50px;
  width: 100px;
  float: left;
  display: inline;
}
/* line 308, ../sass/navigation.sass */
.footer-nav .public-console > * {
  vertical-align: left;
}
/* line 310, ../sass/navigation.sass */
.footer-nav .public-console > img {
  margin-right: 5px;
}
/* line 312, ../sass/navigation.sass */
.footer-nav .public-console > p {
  color: #ccc;
  font-size: 14px;
}
/* line 315, ../sass/navigation.sass */
.footer-nav .contact-us {
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  margin-bottom: 20px;
  padding-top: 40px;
}
/* line 323, ../sass/navigation.sass */
.footer-nav .contact-us > * {
  vertical-align: middle;
}
/* line 325, ../sass/navigation.sass */
.footer-nav .contact-us > img {
  margin-right: 5px;
}
/* line 327, ../sass/navigation.sass */
.footer-nav .contact-us > a {
  color: #fff;
}
/* line 329, ../sass/navigation.sass */
.footer-nav .friendly-links {
  text-align: center;
  margin-bottom: 40px;
}
/* line 332, ../sass/navigation.sass */
.footer-nav .friendly-links > li {
  display: inline-block;
  padding: 0 10px;
  line-height: 12px;
}
/* line 336, ../sass/navigation.sass */
.footer-nav .friendly-links > li > a {
  color: #ccc;
  font-size: 12px;
}
/* line 339, ../sass/navigation.sass */
.footer-nav .copyright {
  color: #666;
  font-size: 12px;
  width: 100%;
  text-align: center;
  padding: 20px 0 20px;
  margin-bottom: 0px;
}
/* line 347, ../sass/navigation.sass */
.footer-nav .copyright > a {
  color: #fff;
}
