/* line 3, ../sass/navigation.scss */
.navbar {
  background-color: #000;
  padding: 0px 8px;
}
/* line 7, ../sass/navigation.scss */
.navbar .nav-divider {
  padding-left: 16px;
  padding-right: 16px;
}
/* line 12, ../sass/navigation.scss */
.navbar .navbar-brand {
  font-size: 32px;
  text-decoration: none;
  padding-top: 0px;
  padding-bottom: 0px;
}
/* line 18, ../sass/navigation.scss */
.navbar .navbar-brand img {
  height: 60px;
  width: auto;
}
/* line 24, ../sass/navigation.scss */
.navbar .navbar-toggler {
  margin-top: 0;
}
/* line 31, ../sass/navigation.scss */
.navbar.navbar-dark .navbar-nav .active > .nav-link {
  color: #fff;
  font-weight: 700;
}
/* line 36, ../sass/navigation.scss */
.navbar.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
/* line 42, ../sass/navigation.scss */
.navbar .version-toggler {
  height: 100%;
}
/* line 45, ../sass/navigation.scss */
.navbar .version-toggler .btn-group {
  border: none;
  height: 100%;
}
/* line 49, ../sass/navigation.scss */
.navbar .version-toggler .btn-group button {
  border: 1px solid white;
}
/* line 53, ../sass/navigation.scss */
.navbar .version-toggler .btn-group .selected-version {
  height: 100%;
  color: white;
  background-color: transparent;
}
/* line 59, ../sass/navigation.scss */
.navbar .version-toggler .btn-group .dropdown-toggle::after {
  vertical-align: .1em;
}

/* line 68, ../sass/navigation.scss */
body.invert .navbar-brand {
  color: #597cf1;
}
/* line 71, ../sass/navigation.scss */
body.invert .navbar-brand:hover, body.invert .navbar-brandactive {
  color: #597cf1;
}
/* line 75, ../sass/navigation.scss */
body.invert .navbar-brand img {
  content: url("/static/images/logo-dark.png");
}
/* line 80, ../sass/navigation.scss */
body.invert .navbar {
  background-color: transparent;
}
/* line 85, ../sass/navigation.scss */
body.invert .navbar .navbar-nav .active > .nav-link {
  color: #597cf1;
  font-weight: 700;
}
/* line 90, ../sass/navigation.scss */
body.invert .navbar .navbar-nav .nav-link {
  color: #597cf1;
}
/* line 96, ../sass/navigation.scss */
body.invert .navbar.navbar-dark .navbar-toggler {
  color: #597cf1;
  border-color: #597cf1;
}
/* line 100, ../sass/navigation.scss */
body.invert .navbar.navbar-dark .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#597cf1' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* line 107, ../sass/navigation.scss */
body.invert .footer-nav {
  background-color: transparent;
}

/* line 114, ../sass/navigation.scss */
.panel-layout .sidebar {
  background-color: #ededed;
  padding: 20px;
  height: 100%;
}
/* line 119, ../sass/navigation.scss */
.panel-layout .sidebar h3 {
  padding: 16px 0 8px 0;
  font-weight: 700;
  font-size: 20px;
}
/* line 124, ../sass/navigation.scss */
.panel-layout .sidebar h3.active {
  color: #597cf1;
}
/* line 130, ../sass/navigation.scss */
.panel-layout .sidebar ul li {
  padding: 8px 0 8px 0;
}
/* line 135, ../sass/navigation.scss */
.panel-layout .sidebar a {
  color: #000;
}
/* line 138, ../sass/navigation.scss */
.panel-layout .sidebar a:hover, .panel-layout .sidebar a:active {
  color: #597cf1;
}
/* line 142, ../sass/navigation.scss */
.panel-layout .sidebar a.active {
  color: #597cf1;
  font-weight: 700;
}

@media (min-width: 992px) {
  /* line 156, ../sass/navigation.scss */
  .panel-layout .sidebar {
    float: left;
    max-width: 300px;
  }

  /* line 162, ../sass/navigation.scss */
  .sidebar-toggle {
    display: none;
  }

  /* line 166, ../sass/navigation.scss */
  .sidebar.collapse {
    display: block;
  }
}
/* line 171, ../sass/navigation.scss */
.footer-nav {
  background-color: #000;
  color: ccc;
}
/* line 174, ../sass/navigation.scss */
.footer-nav .intern-console {
  margin-left: 50px;
  margin-right: 19px;
  color: #ccc;
  font-size: 12px;
  line-height: 30px;
  width: 150px;
  float: left;
  display: inline;
}
/* line 184, ../sass/navigation.scss */
.footer-nav .chat-console {
  padding-left: 50px;
  color: #ccc;
  font-size: 12px;
  width: 600px;
  float: left;
  display: inline;
  border-left: 1px solid rgba(241, 242, 244, 0.2);
  border-right: 1px solid rgba(241, 242, 244, 0.2);
}
/* line 193, ../sass/navigation.scss */
.footer-nav .chat-console .sub-top-nava > li {
  line-height: 30px;
  width: 25%;
  float: left;
  display: inline;
  margin-bottom: 20px;
}
/* line 201, ../sass/navigation.scss */
.footer-nav .public-console {
  margin-left: 49px;
  margin-right: 50px;
  width: 100px;
  float: left;
  display: inline;
}
/* line 208, ../sass/navigation.scss */
.footer-nav .public-console > * {
  vertical-align: left;
}
/* line 211, ../sass/navigation.scss */
.footer-nav .public-console > img {
  margin-right: 5px;
}
/* line 214, ../sass/navigation.scss */
.footer-nav .public-console > p {
  color: #ccc;
  font-size: 14px;
}
/* line 220, ../sass/navigation.scss */
.footer-nav .contact-us {
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  margin-bottom: 20px;
  padding-top: 40px;
}
/* line 228, ../sass/navigation.scss */
.footer-nav .contact-us > * {
  vertical-align: middle;
}
/* line 231, ../sass/navigation.scss */
.footer-nav .contact-us > img {
  margin-right: 5px;
}
/* line 234, ../sass/navigation.scss */
.footer-nav .contact-us > a {
  color: #fff;
}
/* line 239, ../sass/navigation.scss */
.footer-nav .friendly-links {
  text-align: center;
  margin-bottom: 40px;
}
/* line 242, ../sass/navigation.scss */
.footer-nav .friendly-links > li {
  display: inline-block;
  padding: 0 10px;
  line-height: 12px;
}
/* line 246, ../sass/navigation.scss */
.footer-nav .friendly-links > li > a {
  color: #ccc;
  font-size: 12px;
}
/* line 252, ../sass/navigation.scss */
.footer-nav .copyright {
  color: #666;
  font-size: 12px;
  width: 100%;
  text-align: center;
  padding: 20px 0 20px;
}
/* line 258, ../sass/navigation.scss */
.footer-nav .copyright > a {
  color: #fff;
}
