/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@media (max-width: 550px) {
  /* line 5, ../sass/base.sass */
  .skeleton .u-pull-right {
    float: left;
  }
}
/* line 8, ../sass/base.sass */
.bg-primary {
  background-color: #597cf1 !important;
}

/* line 12, ../sass/base.sass */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  font: 14px 16px "Roboto", "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

/* line 15, ../sass/base.sass */
body {
  background-color: #fff;
}

/* line 20, ../sass/base.sass */
.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* line 24, ../sass/base.sass */
a {
  color: #597cf1;
  text-decoration: none;
  cursor: pointer;
}
/* line 29, ../sass/base.sass */
a:visited, a:hover {
  color: #597cf1;
  text-decoration: none;
  cursor: pointer;
}

/* line 34, ../sass/base.sass */
.btn-default {
  margin: 4px;
  color: #333;
  border-color: #ccc;
}

/* line 39, ../sass/base.sass */
.fixed-left {
  position: relative;
  overflow: hidden;
}

@media (min-width: 992px) {
  /* line 44, ../sass/base.sass */
  .fixed-left {
    position: fixed;
    left: 0;
    z-index: 1020;
    overflow: auto;
  }
}
/* line 3, ../sass/navigation.sass */
.navbar {
  background-color: #000;
  padding: 0px 8px;
}
/* line 7, ../sass/navigation.sass */
.navbar .nav-divider {
  padding-left: 16px;
  padding-right: 16px;
}
/* line 11, ../sass/navigation.sass */
.navbar .navbar-brand {
  font-size: 24px;
  text-decoration: none;
  padding-top: 0px;
  padding-bottom: 0px;
}
/* line 17, ../sass/navigation.sass */
.navbar .navbar-brand img {
  height: 60px;
  width: auto;
}
/* line 21, ../sass/navigation.sass */
.navbar .navbar-toggler {
  margin-top: 0;
}
/* line 27, ../sass/navigation.sass */
.navbar.navbar-dark .navbar-nav .active > .nav-link {
  color: #fff;
  font-weight: 700;
}
/* line 30, ../sass/navigation.sass */
.navbar.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
/* line 33, ../sass/navigation.sass */
.navbar .version-toggler {
  height: 100%;
}
/* line 36, ../sass/navigation.sass */
.navbar .version-toggler .btn-group {
  border: none;
  height: 100%;
}
/* line 40, ../sass/navigation.sass */
.navbar .version-toggler .btn-group button {
  border: 1px solid white;
}
/* line 43, ../sass/navigation.sass */
.navbar .version-toggler .btn-group .selected-version {
  height: 100%;
  color: white;
  background-color: transparent;
}
/* line 48, ../sass/navigation.sass */
.navbar .version-toggler .btn-group .dropdown-toggle::after {
  vertical-align: 0.1em;
}

/* line 53, ../sass/navigation.sass */
body > #content {
  margin-top: 60px;
}
/* line 57, ../sass/navigation.sass */
body.invert .navbar-brand {
  color: #597cf1;
}
/* line 60, ../sass/navigation.sass */
body.invert .navbar-brand:hover, body.invert .navbar-brandactive {
  color: #597cf1;
}
/* line 66, ../sass/navigation.sass */
body.invert .navbar {
  background-color: transparent;
}
/* line 71, ../sass/navigation.sass */
body.invert .navbar .navbar-nav .active > .nav-link {
  color: #597cf1;
  font-weight: 700;
}
/* line 74, ../sass/navigation.sass */
body.invert .navbar .navbar-nav .nav-link {
  color: #597cf1;
}
/* line 78, ../sass/navigation.sass */
body.invert .navbar.navbar-dark .navbar-toggler {
  color: #597cf1;
  border-color: #597cf1;
}
/* line 82, ../sass/navigation.sass */
body.invert .navbar.navbar-dark .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#597cf1' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* line 85, ../sass/navigation.sass */
body.invert .footer-nav {
  background-color: transparent;
}

/* line 90, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar {
  background-color: #ededed;
  padding: 20px;
  height: 100%;
}
/* line 95, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar h3 {
  padding: 16px 0 8px 0;
  font-weight: 700;
  font-size: 18px;
}
/* line 100, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar h3.active {
  color: #597cf1;
}
/* line 104, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar ul li {
  padding: 8px 0 8px 0;
}
/* line 107, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar a {
  color: #000;
}
/* line 110, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar a:hover, .panel-layout .sidebar-container .sidebar a:active {
  color: #597cf1;
}
/* line 113, ../sass/navigation.sass */
.panel-layout .sidebar-container .sidebar a.active {
  color: #597cf1;
  font-weight: 700;
}
/* line 117, ../sass/navigation.sass */
.panel-layout .sidebar-container .panel-content {
  padding-left: 0px;
}

@media (min-width: 992px) {
  /* line 122, ../sass/navigation.sass */
  .panel-layout .sidebar-container {
    display: inline;
    width: 300px;
    float: left;
  }
  /* line 127, ../sass/navigation.sass */
  .panel-layout .sidebar-container .sidebar {
    top: 60px;
    width: 300px;
  }
  /* line 131, ../sass/navigation.sass */
  .panel-layout .panel-content {
    padding-left: 300px;
  }

  /* line 134, ../sass/navigation.sass */
  .sidebar-toggle {
    display: none;
  }

  /* line 137, ../sass/navigation.sass */
  .sidebar.collapse {
    display: block;
  }
}
/* line 140, ../sass/navigation.sass */
.footer-nav {
  background-color: #000;
  color: ccc;
}
/* line 143, ../sass/navigation.sass */
.footer-nav .intern-console {
  margin-left: 50px;
  margin-right: 19px;
  color: #ccc;
  font-size: 12px;
  line-height: 30px;
  width: 150px;
  float: left;
  display: inline;
}
/* line 153, ../sass/navigation.sass */
.footer-nav .chat-console {
  padding-left: 50px;
  color: #ccc;
  font-size: 12px;
  width: 600px;
  float: left;
  display: inline;
  border-left: 1px solid rgba(241, 242, 244, 0.2);
  border-right: 1px solid rgba(241, 242, 244, 0.2);
}
/* line 162, ../sass/navigation.sass */
.footer-nav .chat-console .sub-top-nava > li {
  line-height: 30px;
  width: 25%;
  float: left;
  display: inline;
  margin-bottom: 20px;
}
/* line 169, ../sass/navigation.sass */
.footer-nav .public-console {
  margin-left: 49px;
  margin-right: 50px;
  width: 100px;
  float: left;
  display: inline;
}
/* line 176, ../sass/navigation.sass */
.footer-nav .public-console > * {
  vertical-align: left;
}
/* line 178, ../sass/navigation.sass */
.footer-nav .public-console > img {
  margin-right: 5px;
}
/* line 180, ../sass/navigation.sass */
.footer-nav .public-console > p {
  color: #ccc;
  font-size: 14px;
}
/* line 183, ../sass/navigation.sass */
.footer-nav .contact-us {
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  margin-bottom: 20px;
  padding-top: 40px;
}
/* line 191, ../sass/navigation.sass */
.footer-nav .contact-us > * {
  vertical-align: middle;
}
/* line 193, ../sass/navigation.sass */
.footer-nav .contact-us > img {
  margin-right: 5px;
}
/* line 195, ../sass/navigation.sass */
.footer-nav .contact-us > a {
  color: #fff;
}
/* line 197, ../sass/navigation.sass */
.footer-nav .friendly-links {
  text-align: center;
  margin-bottom: 40px;
}
/* line 200, ../sass/navigation.sass */
.footer-nav .friendly-links > li {
  display: inline-block;
  padding: 0 10px;
  line-height: 12px;
}
/* line 204, ../sass/navigation.sass */
.footer-nav .friendly-links > li > a {
  color: #ccc;
  font-size: 12px;
}
/* line 207, ../sass/navigation.sass */
.footer-nav .copyright {
  color: #666;
  font-size: 12px;
  width: 100%;
  text-align: center;
  padding: 20px 0 20px;
}
/* line 213, ../sass/navigation.sass */
.footer-nav .copyright > a {
  color: #fff;
}
