{% extends "_base_nav.html" %}

{% block sub_nav %}
<div class="main-navbar secondary">
    <div class="container">
        <div class="row">
            <div class="eight columns">
                <ul>
                    <li><a href="/documentation/{{ version }}/en/html/api/index_en.html">API</a></li>
                    <li><a href="/models/{{ version }}/">Models</a></li>
                </ul>
            </div>
            <div class="four columns">
                <ul class="u-pull-right">
                    <li><a href="/documentation/develop/en/html/api/index_en.html">dev</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block post_content %}
<link href="/static/stylesheets/documentation.css" media="screen, projection" rel="stylesheet" type="text/css" />
{% endblock %}
