{% extends "_base.html" %}
{% load i18n %}

{% block content_root %}
    <div class="skeleton">
        <div class="main-navbar primary">
            <div class="container">
                <div class="row">
                    <div class="three columns">
                        <a class="logo" href="{% url 'home' %}"><img class="logo" src="/static/images/logo.png"></a>
                    </div>
                    {% block nav %}
                    <div class="five columns">
                        <ul>
                            <li><a href="/documentation/develop/en/html/getstarted/index_en.html">{% trans "Tutorial" %}</a></li>
                            <li><a href="/documentation/develop/en/html/api/index_en.html">{% trans "Documentation"%}</a></li>
                            <li><a href="{% url 'blog_root' %}">{% trans "Blog"%}</a></li>
                        </ul>
                    </div>
                    <div class="four columns">
                        <ul class="u-pull-right">
                            <li><a href="{{ lang_def.link }}">{{ lang_def.label}}&nbsp;</a></li>
                            <li><a href="https://github.com/PaddlePaddle/Paddle" target="_blank">
                                <i class="fa fa-github" aria-hidden="true"></i>
                                <span>Github</span>
                            </a></li>
                        </ul>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
        {% block sub_nav %}{% endblock %}
    </div>

    <div id="content">
        {% block content %}{{ static_content|safe }}{% endblock %}
    </div>

    <footer class="footer-nav">
        {% block footer %}
        <p class="copyright">&copy;Copyright&nbsp;2017,&nbsp;PaddlePaddle&nbsp;developers.</p>
        {% endblock %}
    </footer>
{% endblock %}
