<!DOCTYPE html>
<html lang="en">

{% load i18n %}
{% load app_tags %}

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        {% if content_id == None or content_id == '' %}
        <title>{% trans "PaddlePaddle - Train and deploy deep learning at scale"%}</title>
        {% else %}
        <title>PaddlePaddle - {{ content_id|title }} </title>
        {% endif %}
        <link rel="icon" type="image/png" href="/static/images/favicon.ico">
        <!-- TODO: set og: meta attributes-->
        {% block head %}
        <link href="/static/stylesheets/reset.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/static/stylesheets/fontawesome-all.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/static/stylesheets/bootstrap.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/static/stylesheets/screen.css?{% server_start_time %}" media="screen, projection" rel="stylesheet" type="text/css" />
        {% endblock %}
        {% if settings.ENV != 'production' and settings.ENV != 'staging' %}
            <link href="/static/stylesheets/spinner.css" media="screen, projection" rel="stylesheet" type="text/css" />
        {% endif %}
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?b9a314ab40d04d805655aab1deee08ba";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
    </head>

    <body>
        {% block pre_content %}{% endblock %}

        {% block content_root %}
            <div id="content_root">
            {% block content %}
                <div id="content">
                    {{ static_content|safe }}
                </div>
            {% endblock %}
            </div>
        {% endblock %}
        {% if settings.ENV != 'production' and settings.ENV != 'staging' %}
        {% include '_full_page_spinner.html' %}
        {% endif %}

        {% block post_content %}{% endblock %}

        {% block scripts %}
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/jquery-3.2.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>

        <!-- Setup search -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
        <script src="//twitter.github.com/typeahead.js/releases/latest/typeahead.jquery.min.js"></script>

        <script src="/static/js/lunr.js"></script>
        <script src="/static/indexes/{{ lang }}/{{ CURRENT_DOCS_VERSION }}/index.js"></script>
        <script src="/static/indexes/{{ lang }}/{{ CURRENT_DOCS_VERSION }}/toc.js"></script>
        <script>

        var idx = lunr.Index.load(index),

            // Based on this answer: https://stackoverflow.com/questions/1366068/whats-the-complete-range-for-chinese-characters-in-unicode/11415841.
            chineseCutter = function(q){
                var cutQuery = '';

                var i, characterCode, isChineseCharacter;
                for (i = 0; i < q.length; i++){
                    // If this character is in Chinese, add a space after.
                    // And before it as long as the preceding character is not already a space.
                    characterCode = q.charCodeAt(i);

                    isChineseCharacter = (
                        // CJK Unified Ideographs block: http://www.fileformat.info/info/unicode/block/cjk_unified_ideographs/index.htm
                        characterCode > 19968 && characterCode <= 40943) || (

                        // CJKUI Ext A block: http://www.fileformat.info/info/unicode/block/cjk_unified_ideographs_extension_a/index.htm.
                        characterCode > 13312 && characterCode <= 19893) || (

                        // NOTE: The following ranges are not accounted for because it runs out of UTF-16 range.
                        // Need to eventually figure out a better plan.
                        // CJKUI Ext B block: http://www.fileformat.info/info/unicode/block/cjk_unified_ideographs_extension_b/index.htm
                        // CJKUI Ext C block: http://www.fileformat.info/info/unicode/block/cjk_unified_ideographs_extension_c/index.htm
                        // CJKUI Ext D block: http://www.fileformat.info/info/unicode/block/cjk_unified_ideographs_extension_d/index.htm
                        characterCode > 55360);

                    if (isChineseCharacter){
                        if (cutQuery.substring(cutQuery.length - 1) !== ' ')
                            cutQuery += ' ';

                        cutQuery += q[i] + ' ';

                    } else {
                        cutQuery += q[i];
                    }
                }

                return cutQuery.trim();
            },

            getSearchQuery = function(q){
                var cutQuery = {% if lang == 'zh' %}chineseCutter(q){% else %}q{% endif %};
                return '"' + cutQuery + '"~1' + ' *' + cutQuery + '* ' + cutQuery;
            };

        $('input[type="search"]').typeahead({
              hint: false,
              highlight: true,
              minLength: 1
            },
            {
              limit: 10,
              name: 'pages',
              async: false,
              source: function(query, sync, async){
                  sync(idx.search(getSearchQuery(query)).map((result) => {
                      item = indexPathMap[result.ref];

                      var apiPath = '/documentation/api/';
                      if (item.path.substring(0, apiPath.length) === apiPath)
                        item.isAPI = true;

                      var modelsPath = '/documentation/models/';
                      if (item.path.substring(0, modelsPath.length) === modelsPath)
                        item.isModels = true;

                      return item;
                  }));
              },
              display: 'title',
              templates: {
                  {% verbatim %}
                  suggestion: Handlebars.compile(
                      '<div class="row">' + (
                        '<div class="title col-10">{{#if prefix}}<span class="prefix">{{prefix}}.</span>{{/if}}{{title}}</div>') + (
                        '<div class="type col-2 d-flex"><div class="align-self-center">{{#if isAPI}}API{{else if isModels}}Model{{else}}Doc{{/if}}</div></div>') + (
                      '</div>')
                  ),
                  notFound: Handlebars.compile(
                      '<div class="row no-results"><div class=\'title col-10\'>No results found for \'{{query}}\'</div></div>'
                  ),
                  footer: Handlebars.compile(
                      '<div class="row footer"><div class=\'title col-10\'>' + (
                          '<input type=\'submit\' value=\'Show more results for "{{query}}"\' />') + (
                      '</div></div>')
                  ),
                  {% endverbatim %}
              }
        }).bind('typeahead:select', function(ev, suggestion) {
          window.location.href = suggestion.path;

        // Prevent an action on "enter" only when a search result isn't in focus.
        }).keypress(function(ev){
            var keyCode = (ev.keyCode ? ev.keyCode : ev.which);

            // Temporarily allow enters for server-side like search.
            // if (keyCode === 13)
            //     ev.preventDefault();
        });
        </script>

        {% if settings.ENV != 'production' and settings.ENV != 'staging' %}
        <script>
            function showFullpageSpinnerForContentId(folderName) {
                var message = 'Loading...';
                $('.spinner-container').show();
                $('.spinner-label').text(message);

                $('#paddleDocsModal').hide();
                return true;
            }

            function hideFullpageSpinner() {
                $('spinner-container').hide();
                return true;
            }
        </script>
        {% endif %}
        {% endblock %}
    </body>

</html>
