{% extends "_base_nav.html" %}

{% block content %}
<div class="container-fluid panel-layout">
    <div class="row">
        <div class="col-lg-3">
            <a class="btn btn-default btn-lg btn-block sidebar-toggle" data-toggle="collapse" href="#sidebar-nav" aria-expanded="false" aria-controls="sidebar-nav">
                <i class="glyphicon glyphicon-menu-hamburger"></i> Navigation
            </a>
            {% block side_nav_content %}{% endblock %}
        </div>
        <div class="panel-content col-lg-9">
            {{ static_content|safe }}
        </div>
    </div>
</div>
{% endblock %}