{% extends "_base.html" %}
{% load i18n %}

{% block content_root %}
    <div class="skeleton primary-navbar">
        <div class="container">
            <div class="row">
                <div class="two columns">
                    <a class="logo" href="{% url 'home' %}"><img class="logo" src="/static/images/logo.png"></a>
                </div>
                {% block nav %}
                <div class="six columns">
                    <ul>
                        <li><a href="/book/">{% trans "Tutorial" %}</a></li>
                        <li><a href="/documentation/en/html/">{% trans "Documentation"%}</a></li>
                        <li><a href="/blog">{% trans "Blog"%}</a></li>
                    </ul>
                </div>
                <div class="four columns">
                    <ul class="u-pull-right">
                        <li><a href="{{ lang_def.link }}">{{ lang_def.label}}</a></li>
                        <li><a href="https://github.com/PaddlePaddle/Paddle" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                            <span>Github</span>
                        </a></li>
                    </ul>
                </div>
                {% endblock %}
            </div>
            {% block sub_nav %}{% endblock %}
        </div>
    </div>

    <div id="content">
        {% block content %}{{ static_content|safe }}{% endblock %}
    </div>

    <footer class="footer-nav">
        {% block footer %}
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <p class="copyright">&copy;Copyright&nbsp;2017,&nbsp;PaddlePaddle&nbsp;developers.</p>
                </div>
            </div>
        </div>
        {% endblock %}
    </footer>
{% endblock %}
