<!DOCTYPE html>
<html lang="en" class="wf-loading">

{% load app_tags %}

{% load app_tags %}

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PaddlePaddle - Train and deploy deep learning at scale</title>
        <!-- TODO: set og: meta attributes-->
        {% block head %}
        <link href="/static/stylesheets/reset.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/static/stylesheets/font-awesome.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/static/stylesheets/bootstrap.min.css" media="screen, projection" rel="stylesheet" type="text/css" />

        <script src="/static/js/jquery-3.2.1.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>

        <script>
          (function(d) {
            var config = {
              kitId: 'zox6pcb',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
          })(document);
        </script>
        {% endblock %}
    </head>

    <body class="tk-futura-pt{% apply_class_if_template 'blog.html' ' invert' %}">
        {% block pre_content %}{% endblock %}

        {% block content_root %}
            <div id="content_root">
            {% block content %}
                <div id="content">
                    {{ static_content|safe }}
                </div>
            {% endblock %}
            </div>
        {% endblock %}

        <link href="/static/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        {% block post_content %}{% endblock %}
    </body>

</html>