<!DOCTYPE html>
<html lang="en">

    <head>
        {% block head %}
        <link href="/static/stylesheets/reset.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/static/stylesheets/font-awesome.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/static/stylesheets/skeleton.css" media="screen, projection" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>

    <body>
        {% block pre_content %}{% endblock %}

        {% block content_root %}
            <div id="content_root">
            {% block content %}
                <div id="content">
                    {{ static_content|safe }}
                </div>
            {% endblock %}
            </div>
        {% endblock %}

        {% block post_content %}{% endblock %}

        <link href="/static/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    </body>

</html>