{% load app_tags %}

<nav class="sidebar collapse fixed-left" id="sidebar-nav">
    {% if allow_search %}
    <div class='search-form' role="search">
      <form action="{% url url_helper.URL_NAME_DOCS CURRENT_DOCS_VERSION search_url %}">
        <input class="query "type="text" name="q" placeholder="Search docs" />
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="hidden" name="check_keywords" value="yes" />
        <input type="hidden" name="area" value="default" />
      </form>
    </div>
    {% endif %}

    {% for chapter in side_nav_content.sections %}
    <ol class="chapter">
        {% translation_assignment chapter.title as chapter_title %}
        {% translation_assignment chapter.link as chapter_link %}
        {% if chapter_title != None %}
        <li>
            {% if chapter_link != None and chapter_link != "" %}
                <h3><a href="{{ chapter_link|safe }}" {% if request.path in chapter.links %} class="active" {% endif %}>{% translation chapter.title %}</a></h3>
            {% else %}
                <h3>{% translation chapter.title %}</h3>
            {% endif %}

            <ol class="section">
                {% for section in chapter.sections %}
                <li>
                    {% translation_assignment section.title as section_title %}
                    {% translation_assignment section.link as section_link %}

                    {% if section_title != None and section.sections == None %}
                        {% if section_link != "" %}
                            <a href="{{ section_link|safe }}">{{ section_title }}</a>
                        {% endif %}
                    {% elif section_title != None and section.sections != None %}

                    {% if section_link != None %}
                    <a class="title-with-toggle" href="{{ section_link|safe }}">{{ section_title }}</a>
                    {% else %}
                    <a class="title-with-toggle" data-toggle="collapse" href="#collapse{{ forloop.parentloop.counter }}{{ forloop.counter}}">{{ section_title }}</a>
                    {% endif %}

                    <a class="toggle {% if request.path not in section.links %}collapsed{% endif %}" data-toggle="collapse" href="#collapse{{ forloop.parentloop.counter }}{{ forloop.counter}}"><span class="dropdown-toggle"></span></a>

                    <div id="collapse{{ forloop.parentloop.counter }}{{ forloop.counter}}"
                         class="panel-collapse collapse {% if request.path in section.links %}show{% endif %}">
                    <ol class="sub-section">
                        {% for sub_section in section.sections %}
                        {% translation_assignment sub_section.title as sub_section_title %}
                        {% translation_assignment sub_section.link as sub_section_link %}

                        {% if sub_section_link != None %}
                        <li>
                            <a href="{{ sub_section_link|safe }}" {% if request.path == sub_section_link %} class="active" {% endif %}>{{ sub_section_title }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ol>
                    </div>
                    {% endif %}

                </li>
                {% endfor %}
            </ol>
        </li>
        {% endif %}
    </ol>
    {% endfor %}
</nav>