{% load app_tags %}

<nav class="sidebar collapse fixed-left" id="sidebar-nav">
    {% for chapter_id, chapter in side_nav_content.items %}
    <ol class="chapter">
        {% translation_assignment chapter.title as chapter_title %}
        {% translation_assignment chapter.link as chapter_link %}
        {% if chapter_title != None %}
        <li>
            {% if chapter_link != None and chapter_link != "" %}
                <h3><a href="{{ chapter_link }}" {% if request.path == chapter_link %} class="active" {% endif %}>{% translation chapter.title %}</a></h3>
            {% else %}
                <h3{% if request.path in chapter.all_links %} class="active"{% endif %}>{% translation chapter.title %}</h3>
            {% endif %}

            <ol class="section">
                {% for section in chapter.sections %}
                <li>
                    {% translation_assignment section.title as section_title %}
                    {% translation_assignment section.link as section_link %}

                    {% if section_title != None and section_link != "" %}
                    <a href="{{ section_link }}" {% if request.path == section_link %} class="active" {% endif %}>{{ section_title }}</a>
                    {% elif section_title != None and section.sub_sections != None %}

                    <a class="collapsed" data-toggle="collapse" href="#collapse{{ forloop.parentloop.counter }}{{ forloop.counter}}">{{ section_title }}<span class="dropdown-toggle"></span></a>
                    <div id="collapse{{ forloop.parentloop.counter }}{{ forloop.counter}}"
                         class="panel-collapse collapse {% if request.path in section.all_links %}show{% endif %}">
                    <ol class="sub-section">
                        {% for sub_section in section.sub_sections %}
                        {% translation_assignment sub_section.title as sub_section_title %}
                        {% translation_assignment sub_section.link as sub_section_link %}

                        {% if sub_section_link != None %}
                        <li>
                            <a href="{{ sub_section_link }}" {% if request.path == sub_section_link %} class="active" {% endif %}>{{ sub_section_title }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ol>
                    </div>
                    {% endif %}

                </li>
                {% endfor %}
            </ol>
        </li>
        {% endif %}
    </ol>
    {% endfor %}
</nav>