<!-- Top Navigation Bar -->

{% load app_tags %}
{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/static/images/logo.png"/></a>
        <form action="{% url 'content' 'api/en/develop/search.html' %}" class="form-inline">
          <input class="form-control mr-sm-2 typeahead" type="search" name="q" placeholder="Search PaddlePaddle.org" />
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li>
                    <a class="nav-link" href="{{ about_link }}">{% trans "About" %}</a>
                </li>

                <li class="nav-item{% if '/documentation' in request.path %} active{% endif %}">
                    <a class="nav-link" href="/documentation"{% if settings.ENV != 'production' and settings.ENV != 'staging' %} onclick="return showFullpageSpinnerForContentId('documentation');"{% endif %}>{% translation "Documentation" %}<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link" href="{{ community_link }}" target="_blank">{% trans "Community" %}</a>
                </li>
                <li><a class="nav-link" href="https://github.com/PaddlePaddle/Paddle" target="_blank">
                    GitHub
                </a></li>
                <li>
                    <a class="nav-link" href="{{ lang_def.link }}">{{ lang_def.label}}</a>
                </li>
                {% if settings.ENV != 'production' and settings.ENV != 'staging' %}
                    {% if content_id %}
                    <li>
                        <a class="nav-link primary" href="{% url 'reload_docs' %}" onclick="return showFullpageSpinnerForContentId('{{ content_id }}');"><i class="fas fa-sync"></i>{% trans "Refresh Content" %}</a>
                    </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
