<!-- Top Navigation Bar -->

{% load app_tags %}
{% load i18n %}

{% if settings.CURRENT_PPO_MODE == settings.PPO_MODES.DOC_EDIT_MODE and content_id == 'documentation' %}
{% include '_paddle_docs_modal.html' %}
{% endif %}

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/static/images/logo.png"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% for b_id, book in root_nav.items %}
                    {% translation_assignment book.title as book_title %}
                    {% first_book_url_assignment book b_id as book_url %}
                    {% if book_title != none and book_title != "" %}
                <li class="nav-item{% if content_id == b_id %} active{% endif %}">
                    <a class="nav-link" href="{{ book_url }}">{% translation book.title %}<span class="sr-only">(current)</span></a>
                </li>
                    {% endif %}
                {% endfor %}

                {% if settings.CURRENT_PPO_MODE == settings.PPO_MODES.DOC_EDIT_MODE %}

                <li>
                    <a class="nav-link" href="{{ lang_def.link }}&path={{ request.path|urlencode }}&content_id={{ content_id }}">{{ lang_def.label}}</a>
                </li>
                {% if content_id %}
                <li>
                    {% if content_id == 'documentation' %}
                    <a class="nav-link border" href="#" data-toggle="modal" data-target="#paddleDocsModal">{% trans "Refresh Content" %}</a>
                    {% include '_paddle_docs_modal.html' %}
                    {% else %}
                    <a class="nav-link border" href="{% url 'reload_docs' %}?content_id={{ content_id }}" onclick="return showFullpageSpinnerForContentId('{{ content_id }}');">{% trans "Refresh Content" %}</a>
                    {% endif %}
                </li>
                {% endif %}

                {% else %}
                <li>
                    <a class="nav-link" href="{{ community_link }}" target="_blank">{% trans "Community" %}</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ lang_def.link }}&path={{ request.path|urlencode }}&content_id={{ content_id }}">{{ lang_def.label}}</a>
                </li>
                <li><a class="nav-link" href="https://github.com/PaddlePaddle/Paddle" target="_blank">
                    Github
                </a></li>

                {% endif %}

            </ul>
        </div>
    </div>
</nav>