<script src="/static/js/underscore.js"></script>
<script src="/static/js/doctools.js"></script>
<script src="/static/js/searchtools.js"></script>

<!--search_partial-->
<script type="text/javascript">
    var DOCUMENTATION_OPTIONS = {
        URL_ROOT:'./',
        VERSION:'',
        COLLAPSE_INDEX:false,
        FILE_SUFFIX:'.html',
        HAS_SOURCE:  true,
        SOURCELINK_SUFFIX: ".txt",
    };

    if (location.pathname.endsWith('/search.html')) {
        jQuery(function() { Search.loadIndex("searchindex.js"); });
        jQuery('.doc-content-wrap > div[role="navigation"]').remove();
        jQuery('.doc-content-wrap').css('padding-top', 0);
    }
</script>

<script type="text/javascript" id="searchindexloader"></script>