{% load app_tags %}


<form action="{% url 'set_version' %}" class="version-toggler{% if is_hidden %} invisible{% endif %}" method="post">{% csrf_token %}
    <div>
        <button class="selected-version dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ CURRENT_DOCS_VERSION }}
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for version in version_list %}
            <a class="dropdown-item" href="{% url 'set_version' %}?preferred_version={{ version }}&content_id={{ content_id }}">{{ version }}</a>
            {% endfor %}
        </div>
    </div>
</form>
