{% extends "_base_nav.html" %}

{% block content %}

<link href="/static/stylesheets/content.css" media="screen, projection" rel="stylesheet" type="text/css" />

<div id="content" class="container doc-content">
    <h1 id="aboutus">About us</h1>

    <h2 id="whatispaddlepaddle">What is PaddlePaddle</h2>

    <ul>
    <li>PaddlePaddle is an open source deep learning framework provided by Baidu that enables developers and companies to implement their AI ideas safely and quickly.</li>

    <li>The team brings together the world's top deep learning scientists to provide developers and companies with the best deep learning experience</li>

    <li>The framework has four characteristics: easy to learn, easy to use, safe and efficient. It is the most suitable learning tool for Chinese developers and companies.</li>
    </ul>

    <h2 id="technicalfeaturesofpaddlepaddle">Technical features of PaddlePaddle</h2>

    <ul>
    <li>A new generation of deep learning frameworks: PaddlePaddle is a new generation of deep learning framework based on "deep learning programming language". While maintaining a competitive performance, it greatly enhances the framework's ability to express models and can describe any potential models that may appear.</li>

    <li>More friendly to large-scale calculations: PaddlePaddle excels in distributed computing through a variety of large-scale computing operations within Baidu. By using EDL technology, it can save a lot of computing resources, and can also support the training of large-scale sparse models.</li>

    <li>Provides a visualization tool for Deep Learning: Visual DL helps developers easily observe overall training performance and statistics data, such as accuracy/loss metrics, parameter distribution, image/audio sampling and model graph via ONNX. It is an efficient tool to help developers to more easily debug and develop on a deep learning framework.</li>
    </ul>

    <h2 id="paddlepaddlebasededucationsystem">PaddlePaddle-based education system</h2>

    <ul>
    <li>Deep learning courses: Baidu partnered with top education and training institutions in China to develop high-quality learning courses and learning materials to help developers master in deep learning with no prior experience.</li>

    <li>Deep learning online development tool: For users who are interested in scientific research and learning, PaddlePaddle provides a online development environment that requires no installation. The tool provides algorithms, calculations, and data support.</li>

    <li>Face to face training: Organize enriched and interactive learning opportunity, such as in-class tutorial sessions, get-together meet ups, skill development bootcamps and other professional development opportunities for participants.</li>
    </ul>

    <h2 id="paddlepaddlebasedaiservice">PaddlePaddle-based AI service</h2>

    <ul>
    <li>EasyDL: It can help companies with no algorithms knowledge to quickly complete a deep learning task with only a small amount of data to get a good model.</li>

    <li>AI Market: Provides standardized AI capabilities and product trading mechanisms to help companies quickly find the right AI business.</li>

    <li>Deep Learning Contest: PaddlePaddle brings together top-notch deep learning developer in a community where companies can publish their own business issues, quickly find the optimal solution through competition.</li>
    </ul>

    <h2 id="contactus">Contact us</h2>

    <p>You can contact us regarding questions about PaddlePaddle by following ways:</p>

    <ul>
        <li>Learning/Usage Issues: Create or find issues in the PaddlePaddle open source community <a href="https://github.com/PaddlePaddle/Paddle/issues">(https://github.com/PaddlePaddle/Paddle/issues)</a></li>

        <li>Suggestions for PaddlePaddle framework development: Send email to <a href="mailto:paddle-better@baidu.com">paddle-better@baidu.com</a></li>
    </ul>

    <p>We look forward to working with you to create the world's top deep learning framework to bring AI technology to next level!</p>

    <p>PaddlePaddle Team</p>
</div>

{% endblock %}