{% extends "_base_panel.html" %}

{% load app_tags %}

{% block head %}
{{ block.super }}
    <!-- code highlighter -->
    <link href="http://cdn.bootcss.com/highlight.js/9.9.0/styles/darcula.min.css" rel="stylesheet">

    <link href="/static/stylesheets/theme.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/static/stylesheets/github-markdown.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/static/stylesheets/content.css" media="screen, projection" rel="stylesheet" type="text/css" />
{% endblock %}

{% block side_nav_content %}
{% content_links book_id %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/doctools.js"></script>
<script src="http://cdn.bootcss.com/highlight.js/9.9.0/highlight.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js", "TeX/AMSsymbols.js", "TeX/AMSmath.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
            inlineMath: [ ['$','$'] ],
            displayMath: [ ['$$','$$'] ],
            processEscapes: true
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
    });
</script>

<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?b9a314ab40d04d805655aab1deee08ba";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();

    // Highlight the code, please.
    hljs.initHighlightingOnLoad();
</script>
{% endblock %}