{% extends "_base_nav.html" %}

{% load i18n %}

{% block post_content %}
<link href="/static/stylesheets/home.css" media="screen, projection" rel="stylesheet" type="text/css" />
{% endblock %}

{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="home">
    <section class="container-fluid banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tag-line">{% trans "An easy-to-use, easy-to-learn<br>deep learning platfrom"%}</h1>
                    <p>{% blocktrans %}An open-source deep learning platform with a<br>simple API, trusted by the world’s leading AI teams{% endblocktrans %}</p>
                </div>

                <button id="banner_quick_start" class="btn selected col-lg-3">{% trans "Get Started"%}</button>

                <button id="banner_learn_more" class="btn col-lg-3">{% trans "Learn more"%}</button>

            </div>
        <div>

        <div class="dot-area">
            <div class="dot-group">
              <span class="dot"></span>
            </div>
            <div class="dot-group">
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
            <div class="dot-group">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
            <div class="dot-group">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
            <div class="dot-group">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
            <div class="dot-group">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
            <div class="dot-group">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
            <div class="dot-group">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
        </div>

        <div class="arch arch-1"/>
        <div class="arch arch-2"/>
        <div class="arch arch-3"/>
    </section>

    <!-- Features sections, currently supports 4 features -->
    <section class="features" id="features-head">
        <div class="container">
            <div class="bubble-background" id="features-bubble">
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="feature-desc">
                        <div class="feature-icon">
                            <p>{% trans "Easy to learn"%}</p>
                        </div>
                        <p>{% blocktrans %}PaddlePaddle provides multitudes of tools and tutorials; Become a deep learning developer in no time.{% endblocktrans %}</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="feature-desc">
                        <div class="feature-icon">
                            <p>{% trans "Ease of use"%}</p>
                        </div>
                        <p>{% blocktrans %}PaddlePaddle provides an intuitive and flexible interface for loading data and specifying model structures; Bring your creativity to reality.{% endblocktrans %}</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="feature-desc">
                        <div class="feature-icon">
                            <p>{% trans "Security"%}</p>
                        </div>
                        <p>{% blocktrans %}PaddlePaddle is backed by Baidu’s AI technology and business practices. The framework is safe and stable. Focus your works and not worries.{% endblocktrans %}</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="feature-desc">
                        <div class="feature-icon">
                            <p>{% trans "Efficiency"%}</p>
                        </div>
                        <p>{% blocktrans %}It also provides extremely optimized operations, memory, and network communication. Kick start your projects in no time with the latest Baidu business models.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Features sections -->

    <!-- Installation Guide Section -->
    <section class="installation-guide">
        <div class="container">
            <div class="row">
                <h2 class="col-lg-12">{% trans "Install"%}</h2>
            </div>
            <div class="row">
                <p class="col-lg-12">{% trans "Get PaddlePaddle up and running quick after installing the newest version of pip"%}</p>
            </div>

            <div class="row">
                <div class="left col-lg-6">
                    <div class="row">
                        <div class="col-6">
                            <button id="CPU" class="install-option selected">
                                CPU
                            </button>
                        </div>
                        <div class="col-6">
                            <button id="GPU" class="install-option">
                                GPU
                            </button>
                        </div>
                    </div>

                    <!-- cuda version selection bar, only enabled when Cuda selected-->
                    <div id="cuda-version" class="row disable">
                        <div class="col-4">
                            <button id="-gpu" class="install-option cuda selected">
                                CUDA 9.0 cuDNN 7.0
                            </button>
                        </div>
                        <div class="col-4">
                            <button id="-gpu==0.14.0.post87" class="install-option cuda">
                                CUDA 8.0 cuDNN 7.0
                            </button>
                        </div>
                        <div class="col-4">
                            <button id="-gpu==0.14.0.post85" class="install-option cuda">
                                CUDA 8.0 cuDNN 5.0
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Display what commend to install PaddlePaddle, should match the height of option buttons -->
                <div class="right col-lg-6">
                    <div class="terminal">
                        <div class="terminal-bar">
                        </div>
                        <p> $ </p><code id="commend">pip install paddlepaddle</code>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p>{% trans "Tested on CentOS 6+, Ubuntu 14.04+"%}</p>
                </div>
                <!-- Link to docker installation -->
                <div class="col-lg-6">
                    <a class="other-install">
                        {% blocktrans %}Install on Windows, MacOS, or other options{% endblocktrans %}</a>
                </div>
            </div>
        </div>

        <!-- Start of Step 1-2-3 -->
        <div class="container step-1-2-3">
            <div class="row">
                <h2 class="col-lg-12">{% blocktrans %}Get Started{% endblocktrans %}</h2>
            </div>

            <div class="row">
                <div class="left col-sm-4">
                    <!-- Step 1. Import PaddlePaddle -->
                    <div class="row">
                        <div class="col-12">
                            <button id="step-button-1" class="step-button show in-focus selected" data-step-id="1">
                                1. {% blocktrans %}Import PaddlePaddle{% endblocktrans %}
                            </button>
                        </div>
                    </div>

                    <!-- Step 2. Load dataset and train -->
                    <div class="row">
                        <div class="col-12">
                            <button id="step-button-2" class="step-button" data-step-id="2">
                                2. {% blocktrans %}Load dataset and train{% endblocktrans %}
                            </button>
                        </div>
                    </div>

                    <!-- Step 3. Make a prediction -->
                    <div class="row">
                        <div class="col-12">
                            <button id="step-button-3" class="step-button" data-step-id="3">
                                3. {% blocktrans %}Make a prediction{% endblocktrans %}
                            </button>
                        </div>
                    </div>
                </div>

                <!-- code panel -->
                <div class="right col-sm-8">
                    <div class="code-panel">
                        <div class="code-panel-bar">
                        </div>
                        <div class="row col-lg-12">
                            <pre>
                                <code id="step-1" class="step-code show in-focus">
import paddle.v2 as paddle
<span class="hljs-comment"># Initialize PaddlePaddle.</span>
paddle.init(use_gpu=False, trainer_count=1)
                                </code>

                                <code id="step-2" class="step-code">
<span class="hljs-comment"># Configure the neural network.</span>
x = paddle.layer.data(name='x', type=paddle.data_type.dense_vector(13))
y_predict = paddle.layer.fc(input=x, size=1, act=paddle.activation.Linear())
<span class='pip'>with open('fit_a_line.tar', 'r') as f:</span>
    parameters = paddle.parameters.Parameters.from_tar(f)
                                </code>
                                <code id="step-3" class="step-code">
<span class="hljs-comment"># Infer using provided test data.</span>
probs = paddle.infer(
     output_layer=y_predict, parameters=parameters,
     input=[item for item in paddle.dataset.uci_housing.test()()])
for i in xrange(len(probs)):
     print 'Predicted price: ${:,.2f}'.format(probs[i][0] * 1000)
                                </code>
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Step 1-2-3 -->
    </section>
    <!-- End of Installation Guide Section -->

    <section class="models">
        <div class="container">
            <div class="row models-slogan">
                <h2 class="col-lg-12"><span>{% trans "Build powerful applications with PaddlePaddle"%}</span></h2>
                <div class="six-dots col">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>

            <!--   6 models in 2 columns    -->
            <div class="model-examples">
                <!--   title    -->

                <!--   row 1    -->
                <div class="row model-row">
                    <div class="col-md-6">
                        <div class="model-cell">
                            <div class="row model-cell-row">
                                <div class=" model-icon">
                                    <!--<img src="/static/images/feature-1.png">-->
                                </div>
                                <div class="col-sm-7 model-intro">
                                    <h3>
                                        {% blocktrans %}CTR Prediction{% endblocktrans %}
                                    </h3>
                                    <p>
                                        {% blocktrans %}Use DeepFM to predict a user’s click-through rate based on the user’s various features.{% endblocktrans %}
                                    </p>
                                    <div class="learn-more">
                                        <a href="http://paddlepaddle.org/docs/develop/models/deep_fm/README.html" target="_blank">
                                            {% trans "Learn more"%}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="model-cell">
                            <div class="row model-cell-row">
                                <div class=" model-icon">
                                    <!--<img src="/static/images/feature-1.png">-->
                                </div>
                                <div class="col-sm-7 model-intro">
                                    <h3>
                                        {% blocktrans %}Learn to Rank (LTR){% endblocktrans %}
                                    </h3>
                                    <p>
                                        {% blocktrans %}Build LTR model that can be applied in information retrieval, NLP and data mining.{% endblocktrans %}
                                    </p>
                                    <div class="learn-more">
                                        <a href="https://github.com/PaddlePaddle/models/blob/develop/ltr/README_en.md" target="_blank">
                                            {% trans "Learn more"%}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--   row 2    -->
                <div class="row model-row">
                    <div class="col-md-6">
                        <div class="model-cell">
                            <div class="row model-cell-row">
                                <div class=" model-icon">
                                    <!--<img src="/static/images/feature-1.png">-->
                                </div>
                                <div class="col-sm-7 model-intro">
                                    <h3>
                                        {% blocktrans %}DSSM{% endblocktrans %}
                                    </h3>
                                    <p>
                                        {% blocktrans %}Use Deep Structured Semantic Models to match web search queries and the URL based documents.{% endblocktrans %}
                                    </p>
                                    <div class="learn-more">
                                        <a href="/models/dssm/README{% if LANGUAGE_CODE != 'zh' %}_en{% endif %}.html" target="_blank">
                                            {% trans "Learn more"%}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="model-cell">
                            <div class="row model-cell-row">
                                <div class=" model-icon">
                                    <!--<img src="/static/images/feature-1.png">-->
                                </div>
                                <div class="col-sm-7 model-intro">
                                    <h3>
                                        {% blocktrans %}Neural Machine Translation{% endblocktrans %}
                                    </h3>
                                    <p>
                                        {% blocktrans %}Construct an end-to-end NMT model using the recurrent neural network (RNN).{% endblocktrans %}
                                    </p>
                                    <div class="learn-more">
                                        <a href="https://github.com/PaddlePaddle/models/blob/develop/nmt_without_attention/README.md" target="_blank">
                                            {% trans "Learn more"%}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--   row 3    -->
                <div class="row model-row">
                    <div class="col-md-6">
                        <div class="model-cell">
                            <div class="row model-cell-row">
                                <div class=" model-icon">
                                    <!--<img src="/static/images/feature-1.png">-->
                                </div>
                                <div class="col-sm-7 model-intro">
                                    <h3>
                                        {% blocktrans %}Chinese Ancient Poetry{% endblocktrans %}
                                    </h3>
                                    <p>
                                        {% blocktrans %}Utilize stacked bi-directional LSTM to generate a Chinese ancient poem.{% endblocktrans %}
                                    </p>
                                    <div class="learn-more">
                                        <a href="https://github.com/PaddlePaddle/models/blob/develop/generate_chinese_poetry/README_en.md" target="_blank">
                                            {% trans "Learn more"%}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="model-cell">
                            <div class="row model-cell-row">
                                <div class=" model-icon">
                                    <!--<img src="/static/images/feature-1.png">-->
                                </div>
                                <div class="col-sm-7 model-intro">
                                    <h3>
                                        {% blocktrans %}SSD Object Detection{% endblocktrans %}
                                    </h3>
                                    <p>
                                        {% blocktrans %}Use the SSD model in PaddlePaddle for object detection.{% endblocktrans %}
                                    </p>
                                    <div class="learn-more">
                                        <a href="https://github.com/PaddlePaddle/models/blob/develop/ssd/README.md" target="_blank">
                                            {% trans "Learn more"%}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--   10 arches   -->
            <div class="arch arch-1">
            </div>
            <div class="arch arch-2">
            </div>
            <div class="arch arch-3">
            </div>
            <div class="arch arch-4">
            </div>
            <div class="arch arch-5">
            </div>
            <div class="arch arch-6">
            </div>
            <div class="arch arch-7">
            </div>
            <div class="arch arch-8">
            </div>
            <div class="arch arch-9">
            </div>
            <div class="arch arch-10">
            </div>
        </div>
    </section>

    <!-- Resources section: Only in Chinese version -->
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'zh' %}

    <section class="resources-guide" id="resources-head">
        <div class="container">
            <div class="bubble-background" id="resources-bubble">
            </div>
            <div class="row">
                <h2 class="col-lg-12">基于PaddlePaddle框架，我们还提供了这些服务和学习资源</h2>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <a class="resource-cell" href="http://ai.baidu.com/paddlepaddle/openCourses">
                        <div class="feature-icon">
                            <img src="/static/images/feature-1.png">
                        </div>
                        <h3>深度学习基础知识</h3>
                        <p>百度联合多家教育培训机构共同打造超过400+节、累计3000+分钟的深度学习精品课程体系，帮助开发者从零掌握深度学习</p>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a class="resource-cell" href="http://aistudio.baidu.com">
                        <div class="feature-icon">
                            <img src="/static/images/feature-1.png">
                        </div>
                        <h3>AI Studio</h3>
                        <p>为开发者提供线上深度学习代码环境以及配套的算法、算力、数据支持，一站式满足使用者学习、技术进阶、学术研究的需求</p>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a class="resource-cell" href="http://visualdl.paddlepaddle.org/">
                        <img src="/static/images/feature-1.png">
                        <h3>Visual DL</h3>
                        <p>通过Visual DL可以帮助开发者方便的观测训练整体趋势、数据样本质量和中间结果、参数分布和变化趋势、以及模型的结构，帮助开发者更便捷的完成编程过程</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <!-- End of Resources section -->

    <!-- Video section: Only in Chinese -->
    {% if LANGUAGE_CODE == 'zh' %}

    <section class="video">
        <div class="container">
            <div class="row">
                <div class="col-lg-1">
                    <div class="big-img">
                    </div>
                </div>
                <div class="col-lg-11">
                    <div class="video-cell" id="vid">
                        <h2 id="vid-title">PaddlePaddle，让AI触手可及</h2>
                        <p id="vid-desc">PaddlePaddle是一个开源的深度学习引擎，能够帮助你快速高效地实现任何想要的AI创意</p>
                        <a id="vid-link" href="http://www.iqiyi.com/w_19rytlq0cp.html">
                            <button class="watch-now">
                                <div class="triangle-right"></div>
                                Watch Video
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endif %}
    <!-- End of Video section -->

</div>

{% endblock %}
{% block scripts %}
{{ block.super }}

<script>
    var allInstallationOptions = ['pip', 'docker'];

    $('.quick-start-guide nav ul > li').click(function(event){
        // The tab is of tag type 'li' and the icon inside is a 'div'
        if (event.target.tagName == 'DIV')
            event.target = $(event.target).parent()[0];

        var installationToShow = event.target.id;

        // Reverse the currently selected nav button and then select this one.
        $('.quick-start-guide nav ul > li.selected').removeClass('selected');
        $(event.target).addClass('selected');


        $('.quick-start-guide .' + installationToShow).show();

        // Hide all elements that are of other options.
        $.each(allInstallationOptions, function(index, option){
            if (option !== installationToShow)
                $('.quick-start-guide .' + option).hide();
        });
    });


    // Scroll page down to quick start section on 'Quick Start' button click.
    $('#banner_quick_start').click(function(event){
        event.preventDefault();

        $('html, body').stop().animate({ scrollTop: $(
            '.quick-start-guide').offset().top - 150 }, 500);
    });


    $('.installation-guide div > .install-option').click(function(event){
        var installationToShow = event.target.id;
        var installCommend = 'pip install paddlepaddle';

        if (installationToShow == 'CPU') {
            // Reverse the currently selected nav button and then select this one.
            $('#GPU').removeClass('selected');
            $("#cuda-version").addClass('disable');

            // Select the target
            $(event.target).addClass('selected');
        } else {
            if (installationToShow == 'GPU') {
                $('#CPU').removeClass('selected');
                $("#cuda-version").removeClass('disable');
            } else {
                $('.installation-guide div > .install-option.cuda').removeClass('selected');
            }

            // Select the target
            $(event.target).addClass('selected');

            var t = $('.installation-guide div > .install-option.cuda.selected');

            installCommend = installCommend + t[0].id;
        }

        // Update the installation commend
        $('#commend').html(installCommend);
    });

    $('.step-button').click(function (event) {
        var steps = $('.step-code');
        steps.removeClass('show');
        steps.removeClass('in-focus');

        var stepToFocusOn = $('#step-' + event.target.dataset.stepId);

        $.each(steps, function (index, step) {
            step = $(step);
            step.addClass('show');

            return step[0] !== stepToFocusOn[0];
        });

        stepToFocusOn.addClass('in-focus');

        $(".step-button").removeClass('selected');
        $(this).addClass('selected');
    });

    // Start a timer to rotate the video infos and links
    var rotateTimer = setInterval(rotate, 10000);
    var videoTitles = ['PaddlePaddle，让AI触手可及', '“桃子分拣机对我的帮助非常大”', 'AI会发现并记录你在公共场所的不良行为'];
    var videoDescs = ['PaddlePaddle是一个开源的深度学习引擎，能够帮助你快速高效地实现任何想要的AI创意', '四个大学生用一个假期时间，基于PaddlePaddle平台打造了通过外观、尺寸等特征进行桃子质量分级的机器，帮助桃农节约了大量劳动成本', '百度员工打造的AI控烟方案，当你在禁止吸烟的公共场所吸烟时，就会被AI实时捕捉并将你的吸烟图像投放至附近的屏幕上'];
    var videoLinks = ['http://www.iqiyi.com/w_19rytlq0cp.html', 'http://www.iqiyi.com/w_19rys9temd.html', 'http://www.iqiyi.com/w_19rysa26ep.html']
    var count = 0;

    function rotate() {
        count += 1;

        // Toggle the position from left to right
        $('#vid').toggleClass('align-left');

        // Update video link
        $('#vid-link').attr("href", videoLinks[count % 3]);
        
        // Update title and desc with fade in and fade out
        $('#vid-title').fadeOut(500, function() {
          $(this).text(videoTitles[count % 3]).fadeIn(500);
        });

        $('#vid-desc').fadeOut(500, function() {
          $(this).text(videoDescs[count % 3]).fadeIn(1500);
        });
    }

    // Subtle animation on the bubble
    $(window).scroll(function (event) {
        var scroll = $(window).scrollTop();
        var featuresHead = $('#features-head')
        var resourcesHead = $('#resources-head')

        $('#features-bubble').css('top', (-700 + (scroll - featuresHead.position().top) / 2));
        $('#resources-bubble').css('top', (-800 + (scroll - resourcesHead.position().top) / 2));
    });

</script>

{% endblock %}
