{% extends "_base_nav.html" %}

{% load i18n %}

{% block post_content %}
{% load app_tags %}

<link href="/static/stylesheets/pps.css?{% server_start_time %}" media="screen, projection" rel="stylesheet" type="text/css" />

{% endblock %}

{% get_current_language as LANGUAGE_CODE %}

{% block content %}

<div class="pps-home">
    <!-- PPS heros banner -->
    <section class="installation-guide">
        <div class="container">
            <h1>Title</h1>
            <h2>Sub Title</h2>
            <button>Contact US </button>
        </div>
    </section>

    <!-- section selector -->
    <section class="quick-links">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">架构流程</div>
                <div class="col-lg-2">link 2</div>
                <div class="col-lg-2">link 3</div>
                <div class="col-lg-2">link 4</div>
                <div class="col-lg-2">link 5</div>
            </div>
        </div>
    </section>

    <!-- Structure illustration section -->

    <section class="illustration">
        <div class="container">
            <h2>Structure illustration</h2>
            <p>Nullam eget metus magna. Etiam egestas est vel est cursus elementum. Cras eget dapibus ex. Proin
                consectetur eu est nec vestibulum. Ut tempus tortor vitae turpis ultricies laoreet. Donec id ante ut
                ligula dignissim ultricies. </p>
            <img href=""/>
        </div>
    </section>

    <!-- Core frameworks -->
    <section class="core-framework">
        <div class="container">
            <h2>核心框架</h2>
            <p>PPS提供完善的基础框架服务，能够让企业开发者高效完成训练、预测以及不同平台的部署</p>


            <div class="row">
                <div class="col-lg-4">
                    <div class="framework-desc">
                        <h3>PaddlePaddle 训练框架</h3>
                        <p>PaddlePaddle Fluid提高了框架对各类机器学习任务的描述能力，能够描述潜在可能出现的任意深度学习模型</p>

                        <button>Learn More</button>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="framework-desc">
                        <h3>PaddlePaddle Serving</h3>
                        <p>PaddlePaddle Serving可灵活适配多种预测引擎，具有引擎原生、快速可用的特点，并能兼容业内主流预测引擎TensorRT</p>

                        <button>Learn More</button>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="framework-desc">
                        <h3>PaddlePaddle Mobile</h3>
                        <p>Paddle Paddle Mobile 1.0 支持在多种移动平台上的深度学习开发、对移动端GPU实现全覆盖</p>

                        <button>Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Toolsets -->
    <section class="toolsets">
        <div class="container">
            <h2>辅助工具集</h2>
            <p>PPS提供了强大的深度学习辅助工具，帮助您大幅提高深度学习任务效率</p>

            <div class="row">
                <div class="col-lg-4">
                    <div class="tool-desc">
                        <img href="">

                        <h3>VisualDL</h3>
                        <p>VisualDL是一个面向深度学习任务设计的可视化工具，可以实现实时、可视化地展示模型训练过程中的各个参数以及计算的数据流图，帮助模型训练者更好地理解、调试、优化模型</p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="tool-desc">
                        <img href="">
                        <h3>AutoDL</h3>
                        <p>AutoDL是一个网络结构自动化设计工具，无需特殊软硬件设备和特殊训练，可以快速得到定制化高质量的模型，能更高效自动搜索神经网络结构</p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="tool-desc">
                        <img href="">
                        <h3>PARL</h3>
                        <p>PARL是一个易用，通用，实用的强化学习工具，对主流算法实现全覆盖，支持大规模并行，能够方便的进行强化学习算法定制</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- General technical solutions -->
    <section class="applications">
        <div class="container">
            <h2>通用技术方案</h2>
            <p>PPS在推荐、视觉和文本处理三大领域提供了智能技术方案</p>

            <div class="row">
                <div class="col-lg-3">
                    <div class="row" id="rec">
                        <h2>PaddleRec</h2>
                        <p>智能推荐技术方案</p>
                    </div>
                    <div class="row" id="cv">
                        <h2>PaddleCV</h2>
                        <p>智能视觉技术方案</p>
                    </div>
                    <div class="row" id="nlp">
                        <h2>Paddle NLP</h2>
                        <p>智能文本处理技术方案</p>
                    </div>
                </div>
                <div class="col-lg-9" id="rec-des">
                    <h2>title one</h2>
                    <h2>title two</h2>
                    <h2>title two</h2>
                    <h2>title two</h2>
                    <h2>title two</h2>
                </div>
                <div class="col-lg-9 hide" id="cv-des">
                    <h2>title 3</h2>
                    <h2>title 3</h2>
                    <h2>title 3</h2>
                    <h2>title 3</h2>
                    <h2>title 3</h2>
                </div>
                <div class="col-lg-9 hide" id="nlp-des">
                    <h2>title 7</h2>
                    <h2>title 7</h2>
                    <h2>title 7</h2>
                    <h2>title 7</h2>
                    <h2>title 7</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- Service platforms -->
    <section class="services">
        <div class="container">
            <h2>服务平台</h2>
            <p>PPS搭建了功能强大的服务平台，提供深度学习一站式服务</p>

            <div class="row">
                <a class="col-lg-4" href="http://ai.baidu.com/easydl/" target="_blank">
                    <div class="service-desc">
                        <h3>EasyDL</h3>
                        <p>支持零算法基础训练业务定制模型，操作可视化，无需懂深度学习，即便是零AI基础也可以在10分钟内训练出深度学习模型</p>
                    </div>
                </a>

                <a class="col-lg-4" href="http://aistudio.baidu.com/#/projectoverview" target="_blank">
                    <div class="service-desc">
                        <h3>AIStudio</h3>
                        <p>集成“数据、算法、算力”的PaddlePaddle实训平台，具有云端集成、简单易用、运行高效和资源免费的特点</p>
                    </div>
                </a>

                <a class="col-lg-4" href="https://cloud.baidu.com/product/infinite.html" target="_blank">
                    <div class="service-desc">
                        <h3>Infinite</h3>
                        <p>世界先进的分布式并行计算深度学习平台，为您提供强大的、先进的弹性计算资源</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>

{% endblock %}
{% block scripts %}
{{ block.super }}

<script>
    $('#rec').hover(function () {
        $('#rec-des').removeClass('hide')
        $('#cv-des').addClass('hide')
        $('#nlp-des').addClass('hide')
    });

    $('#cv').hover(function () {
        $('#rec-des').addClass('hide')
        $('#cv-des').removeClass('hide')
        $('#nlp-des').addClass('hide')
    });

    $('#nlp').hover(function () {
        $('#rec-des').addClass('hide')
        $('#cv-des').addClass('hide')
        $('#nlp-des').removeClass('hide')
    });
</script>
{% endblock %}
