{% extends "_base_nav.html" %}
{% load app_tags %}

{% block head %}
{{ block.super }}
<link href="/static/stylesheets/search.css?{% server_start_time %}" media="screen, projection" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="search container doc-content">
    <h2>Search for "{{ q }}"</h2>
    <div id='search-results'>
    <div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}

<script>
    // First, get lunr search results from the extracted query word from the URL.
    var search = document.location.search.substring(1),
        keyValue, keyValues = {}, query,
        searchResultsEl = document.getElementById('search-results');

    search.split('&').forEach((searchPiece) => {
        keyValue = searchPiece.split('=');
        keyValues[keyValue[0]] = keyValue[1];
    });

    // This is a template for the search result.
    {% verbatim %}
    var searchItemTemplate = Handlebars.compile(
        '<div class="search-result mb-5">' + (
          '<a href="{{path}}">{{title}}</a>') + (
          '<div class="search-result-url mb-2">' + document.location.origin + '{{path}}</div>') + (
          '<div class="search-result-description">{{description}}</div>') + (
        '</div>')
    );
    {% endverbatim %}

    // This renders the search result to a string that can be inserted into the DOM.
    var renderSearchItem = function(result){
        // Fetch the contents of this page async-ly.
        // And once fetched, replace the contents of the
        $.get(result.path + '?raw=1').done(function(data) {
            document.querySelector('a[href="' + result.path + '"]').parentNode.querySelector(
                '.search-result-description').innerHTML = getSnippetFromHTML(data);
        });

        return searchItemTemplate(result);
    };

    // This finds the best snippet from the text.
    var getSnippetFromHTML = function(data){
        var newHiddenDocumentBody = document.createElement('div');
        newHiddenDocumentBody.className = 'hidden-doc-content';
        newHiddenDocumentBody.innerHTML = data;

        // Try to find the query text in the document.
        var rawText = newHiddenDocumentBody.innerText,
            indexOfQuery = rawText.toLowerCase().indexOf(query);

        if (indexOfQuery !== -1){
            var snippetToShow;

            if (indexOfQuery > 100){
                snippetToShow = rawText.substring(indexOfQuery - 100, indexOfQuery + 100);
                indexOfQuery = 100;

            } else snippetToShow = rawText.substring(0, 200);

            return (indexOfQuery > 100 ? '&hellip;' : '') + snippetToShow.substring(0, indexOfQuery) + '<strong>' + snippetToShow.substring(
                indexOfQuery, indexOfQuery + query.length) + '</strong>' + snippetToShow.substring(indexOfQuery + query.length) + '&hellip;';
        }

        return rawText.substring(0, 200) + '&hellip;';
    }

    if (keyValues.hasOwnProperty('q')){
        query = decodeURIComponent(keyValues['q']);

        var renderedResults = [];
        idx.search('*' + query + '* ' + query).map((result) => {
            renderedResults.push(renderSearchItem(indexPathMap[result.ref]));
        });

        if (renderedResults.length > 0)
            searchResultsEl.innerHTML = renderedResults.join('\n');
        else
            searchResultsEl.innerHTML = '<div class="search-empty mb-4">No results found for "' + query + '". Try searching for something else.</div>'
    }
</script>
{% endblock %}
