/* line 5, ../sass/base.sass */
.bg-primary {
  background-color: #597cf1 !important;
}

/* line 9, ../sass/base.sass */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  font: 14px 16px "Roboto", "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

/* line 12, ../sass/base.sass */
body {
  background-color: #fff;
}

/* line 17, ../sass/base.sass */
.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* line 21, ../sass/base.sass */
a {
  color: #597cf1;
  text-decoration: none;
  cursor: pointer;
}
/* line 26, ../sass/base.sass */
a:visited, a:hover {
  color: #597cf1;
  text-decoration: none;
  cursor: pointer;
}

/* line 31, ../sass/base.sass */
.btn-default {
  margin: 4px;
  color: #333;
  border-color: #ccc;
}

/* line 36, ../sass/base.sass */
.fixed-left {
  position: relative;
  overflow: hidden;
}

/* line 40, ../sass/base.sass */
.fixed-right {
  position: relative;
  overflow: hidden;
}

/* line 44, ../sass/base.sass */
input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

@media (min-width: 992px) {
  /* line 48, ../sass/base.sass */
  .fixed-left {
    position: fixed;
    left: 0;
    z-index: 1020;
    overflow: auto;
  }

  /* line 54, ../sass/base.sass */
  .fixed-right {
    position: fixed;
    right: 0;
    z-index: 1020;
    overflow: auto;
  }
}
/* line 60, ../sass/base.sass */
.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}

/* line 67, ../sass/base.sass */
.col-xs-15 {
  width: 20%;
  float: left;
}

@media (min-width: 576px) {
  /* line 72, ../sass/base.sass */
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 768px) {
  /* line 77, ../sass/base.sass */
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  /* line 82, ../sass/base.sass */
  .col-lg-15 {
    width: 20%;
    loat: left;
  }
}
@media (min-width: 1200px) {
  /* line 87, ../sass/base.sass */
  .col-xl-15 {
    width: 20%;
    float: left;
  }
}
/* line 92, ../sass/base.sass */
body > #content {
  margin-top: 60px;
}

/* line 95, ../sass/base.sass */
.navbar {
  background-color: #000;
  padding: 0px 8px;
}
/* line 99, ../sass/base.sass */
.navbar .navbar-brand {
  font-size: 24px;
  text-decoration: none;
  padding-top: 0px;
  padding-bottom: 0px;
}
/* line 105, ../sass/base.sass */
.navbar .navbar-brand img {
  height: 60px;
  width: auto;
  padding: 18px 0 18px 0;
}
/* line 110, ../sass/base.sass */
.navbar .navbar-brand .navbar-toggler {
  margin-top: 0;
}
/* line 116, ../sass/base.sass */
.navbar.navbar-dark .navbar-nav .active > .nav-link {
  color: #fff;
  font-weight: 700;
}
/* line 119, ../sass/base.sass */
.navbar.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
/* line 122, ../sass/base.sass */
.navbar.navbar-dark .navbar-nav .nav-link.border {
  border: 1px solid white;
}

/* line 125, ../sass/base.sass */
.footer-nav {
  color: #666;
  font-size: 14px;
  margin: 0px 30px;
  border-top: 1px solid #eee;
}
/* line 131, ../sass/base.sass */
.footer-nav .copyright {
  width: 100%;
  text-align: center;
  padding: 20px 0 20px;
  margin-bottom: 0px;
}
/* line 137, ../sass/base.sass */
.footer-nav .copyright > a {
  color: #fff;
}
