/* line 4, ../sass/home.sass */
.home {
  color: #666;
  font-size: 14px;
}
/* line 8, ../sass/home.sass */
.home hr {
  display: block;
}
/* line 11, ../sass/home.sass */
.home p {
  font-size: 12px;
  font-weight: 100;
  color: #666;
  margin: 0px;
}
/* line 17, ../sass/home.sass */
.home .banner-color {
  background-color: #303a3a;
}
/* line 20, ../sass/home.sass */
.home .banner {
  color: white;
  background-color: #3a3a3a;
  background: url(./../images/circles.svg) no-repeat center center;
  background-size: cover;
  padding: 48px 32px 48px 32px;
}
/* line 27, ../sass/home.sass */
.home .banner h1 {
  margin-bottom: 21px;
}
/* line 30, ../sass/home.sass */
.home .banner p {
  color: white;
}
/* line 33, ../sass/home.sass */
.home .banner nav {
  margin: 36px 0;
}
/* line 36, ../sass/home.sass */
.home .banner nav ul {
  overflow: hidden;
}
/* line 39, ../sass/home.sass */
.home .banner nav ul li {
  float: left;
}
/* line 42, ../sass/home.sass */
.home .banner nav ul li:first-child {
  margin-right: 12px;
}
/* line 46, ../sass/home.sass */
.home .banner .extra-info {
  margin-bottom: 20px;
  font-size: 14px;
  color: #fff;
}
/* line 51, ../sass/home.sass */
.home .banner .extra-info p {
  font-size: 14px;
  margin-bottom: 20px;
}
/* line 55, ../sass/home.sass */
.home .banner .extra-info svg {
  width: 18px;
  height: 18px;
}
/* line 60, ../sass/home.sass */
.home .banner ul li {
  line-height: 18px;
}
/* line 63, ../sass/home.sass */
.home .banner .cover-img {
  background-image: url(./../images/screenshot.png);
  background-repeat: no-repeat;
  min-height: 400px;
  margin: 6px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}
/* line 70, ../sass/home.sass */
.home .banner .button {
  display: inline-block;
  line-height: 48px;
  color: #ffffff;
  font-size: 18px;
  width: 192px;
  text-align: center;
  transition: all 0.15s ease-in-out;
  text-decoration: none;
  margin: 8px 0;
}
/* line 81, ../sass/home.sass */
.home .banner .button.quick-start {
  border: 1px solid #0073eb;
  background-color: #0073eb;
}
/* line 84, ../sass/home.sass */
.home .banner .button.quick-start:hover {
  color: #fff;
  background-color: #3095ff;
}
/* line 88, ../sass/home.sass */
.home .banner .button.view-github {
  border: 1px solid white;
}
/* line 91, ../sass/home.sass */
.home .services {
  padding-top: 36px;
  padding-bottom: 36px;
}
/* line 95, ../sass/home.sass */
.home .services .sub-title {
  text-align: center;
  color: #666;
  padding: 4px;
}
/* line 100, ../sass/home.sass */
.home .services .app {
  width: 100%;
  padding: 16px;
  text-align: center;
}
/* line 105, ../sass/home.sass */
.home .services .app.inactive {
  opacity: 0.35;
}
/* line 108, ../sass/home.sass */
.home .services .app img {
  width: 100%;
}
/* line 111, ../sass/home.sass */
.home .how-to {
  background-color: #f2f2f2;
  padding: 48px 0 48px 0;
  text-align: center;
}
/* line 117, ../sass/home.sass */
.home .how-to .how-to-step img {
  display: block;
  margin: 36px auto 36px auto;
  width: 156px;
  height: 137px;
}
/* line 123, ../sass/home.sass */
.home .how-to .how-to-step .description {
  text-align: center;
}
/* line 126, ../sass/home.sass */
.home .how-to .arrow {
  width: 39px;
  height: 28px;
  margin-top: 42px;
  text-align: center;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

@media (min-width: 992px) {
  /* line 139, ../sass/home.sass */
  .home h1 {
    font-size: 36px;
  }
  /* line 142, ../sass/home.sass */
  .home h2 {
    font-size: 24px;
  }
  /* line 145, ../sass/home.sass */
  .home h3 {
    font-size: 20px;
  }
  /* line 148, ../sass/home.sass */
  .home hr {
    display: none;
  }
  /* line 151, ../sass/home.sass */
  .home p {
    font-size: 16px;
    font-weight: 100;
    color: #666;
    margin: 0px;
  }
  /* line 157, ../sass/home.sass */
  .home .banner {
    color: white;
  }
  /* line 160, ../sass/home.sass */
  .home .banner .tag-line {
    padding-top: 96px;
    margin-bottom: 48px;
  }
  /* line 165, ../sass/home.sass */
  .home .how-to .arrow {
    width: 39px;
    height: 28px;
    margin-top: 100px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
